@model DSLNG.PEAR.Web.ViewModels.OperationData.OperationDataConfigurationViewModel

<div style="overflow: auto">
    <table class="table table-hover table-transparent table-bordered">
        <tbody>
            <tr>
                <th style="width: 30%;">KPI Name</th>
                <th style="width: 15%;">Group</th>
                <th style="width: 50px;">2011</th>
                <th style="width: 50px;">2012</th>
                <th style="width: 50px;">2013</th>
                <th style="width: 50px;">2014</th>
                <th style="width: 50px;">2015</th>
                <th style="width: 50px;">2016</th>
                <th style="width: 50px;">2017</th>
                <th style="width: 50px;">2018</th>
                <th style="width: 50px;">2019</th>
                <th style="width: 50px;">2020</th>
                <th style="width: 50px;">2021</th>
                <th style="width: 50px;">2022</th>
                <th style="width: 50px;">2023</th>
                <th style="width: 50px;">2024</th>
                <th style="width: 50px;">2025</th>
                <th style="width: 50px;">2026</th>
                <th style="width: 50px;">2027</th>
                <th style="width: 50px;">2028</th>
                <th style="width: 50px;">2029</th>
                <th style="width: 50px;">2030</th>
            </tr>
            @{ var a = 0;
                int number = 1;
                }
            @foreach (var kpi in Model.Kpis)
            {
                <tr>
                    <td style="text-align: left">@(number++). @kpi.Name (@kpi.MeasurementName)</td>
                    <td style="text-align: left">@kpi.GroupName</td>
                    @{ var b = 0;}
                    @foreach (var operationData in kpi.OperationDatas)
                    {
                        <th>
                            @operationData.Value
                        </th>
                        b++;
                    }
                </tr>
                a++;
            }
        </tbody>
    </table>
</div>
