@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayAvgYtdKeyStatisticViewModel

<table class="text-center table table-bordered uncomplete">
          <tr>
            <td colspan="6">Avg YTD-Key Statistics (compare to prior day)</td>
          </tr>
          <tr>
               @for (var i = 1; i <= 6; i++)
            {
                <td>@Model.AvgYtdKeyStatistics.Single(x => x.Position == i).KpiName</td>
            }
          </tr>
          <tr>
             @for (var i = 1; i <= 6; i++)
            {
                <td>@Model.AvgYtdKeyStatistics.Single(x => x.Position == i).Ytd</td>
            }
          </tr>
          <tr>
            <td><span class="fa fa-arrow-up fa-lg"></span></td>
            <td><span class="fa fa-arrow-up fa-lg"></span></td>
            <td><span class="fa fa-arrow-up fa-lg"></span></td>
            <td><span class="fa fa-arrow-up fa-lg"></span></td>
            <td><span class="fa fa-arrow-up fa-lg"></span></td>
            <td><span class="fa fa-arrow-up fa-lg"></span></td>
          </tr>
        </table>

@*<table class="der-table" style="text-align: center">
    <tr>
        <th colspan="6" class="der-table-subtitle1" style="width: 50%">Avg YTD-Key Statistics</th>
    </tr>
    <tr style="font-weight: bold">
        @for (var i = 1; i <= 6; i++)
            {
                <td>@Model.AvgYtdKeyStatistics.Single(x => x.Position == i).KpiName</td>
            }
    </tr>
    <tr style="text-decoration: underline">
       @for (var i = 1; i <= 6; i++)
            {
                <td>@Model.AvgYtdKeyStatistics.Single(x => x.Position == i).Ytd</td>
            }
    </tr>
    <tr>
        @for (var i = 1; i <= 6; i++)
            {
                <td>@Model.AvgYtdKeyStatistics.Single(x => x.Position == i).Progress</td>
            }
    </tr>
</table>*@


