@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel

<table class="text-center table avg-stats">
    <thead>
        <tr>
            <td colspan="5" style="background-color: #92CDDC">Avg YTD-Key Statistics (compare to prior day)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiLabel, "Feed Gas")</td>
            <td>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiLabel, "MCHE Rundown")</td>
            <td>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiLabel, "LNG Prod")</td>
            <td>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).KpiLabel, "CDS Prod")</td>
            <td>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 4).KpiLabel, "Fuel Gas")</td>
        </tr>
        <tr class="avg-stats-value">
            <td>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Ytd) @Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "mmscfd")</td>
            <td>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Ytd) @Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "ton/d")</td>
            <td>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Ytd) @Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "ton/d")</td>
            <td>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Ytd) @Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).KpiMeasurement, "bpcd")</td>
            <td>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Ytd) @Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 4).KpiMeasurement, "ton/d")</td>
        </tr>
        <tr class="comparison">
            <td><span class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Deviation) fa-lg"></span></td>
            <td><span class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Deviation) fa-lg"></span></td>
            <td><span class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Deviation) fa-lg"></span></td>
            <td><span class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Deviation) fa-lg"></span></td>
            <td><span class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Deviation) fa-lg"></span></td>
        </tr>
    </tbody>
</table>

@*<table class="text-center table table-bordered uncomplete">
        <tr>
            <td colspan="6">Avg YTD-Key Statistics (compare to prior day)</td>
        </tr>
        <tr>
            @for (var i = 1; i <= 6; i++)
                {
                <td>@Model.AvgYtdKeyStatistics.Single(x => x.Position == i).KpiName</td>
            }
        </tr>
        <tr>
            @for (var i = 1; i <= 6; i++)
                {
                <td>@Model.AvgYtdKeyStatistics.Single(x => x.Position == i).Ytd</td>
            }
        </tr>
        <tr>
            <td><span class="fa fa-arrow-up fa-lg"></span></td>
            <td><span class="fa fa-arrow-up fa-lg"></span></td>
            <td><span class="fa fa-arrow-up fa-lg"></span></td>
            <td><span class="fa fa-arrow-up fa-lg"></span></td>
            <td><span class="fa fa-arrow-up fa-lg"></span></td>
            <td><span class="fa fa-arrow-up fa-lg"></span></td>
        </tr>
    </table>*@



