@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel
<table class="table table-bordered weekly-critical">
    <thead>
       
        <tr>
            <td style="width:12.5%">
                Type
            </td>
            <td style="width:12.5%">
                Relieve Valve
            </td>
            <td style="width:17%">
                SIF
            </td>
            <td style="width:17%">
                Other
            </td>
            <td style="width:12%">
                Total
            </td>
            <td>
                Remarks
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                No. of PM overdue
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, string.Empty, string.Empty)
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, string.Empty, string.Empty)
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "hours")
            </td>
            <td style="width: 12%">
                Target
                &lt;@Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 3).KpiMeasurement, "hr")
            </td>
            <td>
                @Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Remark
            </td>
        </tr>
    </tbody>
</table>

@*@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayCriticalPmViewModel

@{
    var pos0 = Model.CriticalPmViewModels.Single(x => x.Position == 0);
    var pos1 = Model.CriticalPmViewModels.Single(x => x.Position == 1);
    var pos2 = Model.CriticalPmViewModels.Single(x => x.Position == 2);
    var pos3 = Model.CriticalPmViewModels.Single(x => x.Position == 3);
    var pos4 = Model.CriticalPmViewModels.Single(x => x.Position == 4);
    
}
<table class="der-table all-border">
    <thead>
        <tr>
            <th colspan="6">CRITICAL PM COMPLIANCE/OVERDUE
            </th>
        </tr>
        <tr>
            <th>Type
            </th>
            <th>Relieve Valve
            </th>
            <th>SIF
            </th>
            <th>Other
            </th>
            <th>Total
            </th>
            <th>Remarks
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>No. of PM overdue
            </td>
            <td>@pos0.Weekly
            </td>
            <td>@pos1.Weekly
            </td>
            <td>@pos2.Weekly
            </td>
            <td>@pos3.Weekly
            </td>
            <td>@pos4.Remarks
            </td>
        </tr>
    </tbody>
</table>*@