@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel

<table class="table borderless dafwc">
    <tbody>
    <tr>
        <td>
            <label>Days without DAFWC :</label>
        </td>
        <td>
            @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value,
           Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "days") 
        </td>
        <td>
            since :
        </td>
        <td class="text-right">
            @Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Remark)
        </td>
    </tr>
    <tr>
        <td>
            <label>Days without LOPC (tier 1 & 2):</label>
        </td>
        <td>
            @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value,
           Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "days")
        </td>
        <td>
            since :
        </td>
        <td class="text-right">
            @Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Remark)
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <label> Safe Man-hours since Last DAFWC (as of @Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Remark)) : </label>
</td>
        <td class="text-right">
            @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "hours") 
        </td>
    </tr>
    </tbody>
</table>
