@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel
<table class="table table-bordered commodities">
    <thead>
        <tr>
            <td colspan="2" style="font-size:11px;padding:11px">Economic Indicator</td>
            <td style="text-align:center">
                FX rate <br /><span style="font-weight:normal">SDR:IMF major ccy basket</span>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:30%;font-weight:bold">
                Dubai Crude<br> (DME OQD FUT)
            </td>
            <td>
                <div class="first-row">
                    <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Deviation)"></i></span>
                    @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "USD/bbl")
                </div>
            </td>
            <td style="width: 30%">

                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 7).DerItemValue.Deviation)"></i></span>
                USD/SDR @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 7).DerItemValue.Value, string.Empty, string.Empty,"N/A",true,4)
            </td>
        </tr>
        <tr>

            <td><div class="next-row">BRENT FUT&nbsp;</div></td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Deviation)"></i></span>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "USD/bbl", "N/A", true, 2)
            </td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 8).DerItemValue.Deviation)"></i></span>
                USD/IDR @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 8).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 0)
            </td>
        </tr>
        <tr>
            <td><div class="next-row">Naphta FOB Sing&nbsp;</div></td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Deviation)"></i></span>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "USD/bbl")
            </td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 9).DerItemValue.Deviation)"></i></span>
                JPY/IDR @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 9).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 2)
            </td>
        </tr>
        <tr>
            <td><div class="next-row">Applied JCC (@Model.DateInfo.ToString("MMM"))</div></td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Deviation)"></i></span>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 3).KpiMeasurement, "USD/bbl")
            </td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 10).DerItemValue.Deviation)"></i></span>
                USD/JPY @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 10).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 2)
            </td>
        </tr>
        <tr>
            <td><div class="next-row">LNG Spot DES JKM&nbsp;</div></td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Deviation)"></i></span>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 4).KpiMeasurement, "USD/MMbtu","N/A",true,3)
            </td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 11).DerItemValue.Deviation)"></i></span>
                EUR/USD @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 11).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 4)
            </td>
        </tr>
        <tr>
            <td><div class="next-row">Nat Gas Henry Hub</div></td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Deviation)"></i></span>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 5).KpiMeasurement, "USD/MMbtu")
            </td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 12).DerItemValue.Deviation)"></i></span>
                EUR/IDR @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 12).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 0)
            </td>
        </tr>
        <tr>
            <td><div class="next-row">ICP-Ind Crude Prc (@Model.DateInfo.AddMonths(-1).ToString("MMM"))</div></td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 6).DerItemValue.Deviation)"></i></span>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 6).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 6).KpiMeasurement, "USD/bbl")
            </td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 13).DerItemValue.Deviation)"></i></span>
                USD/KRW @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 13).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 2)
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center" class="next-row">
                LNG Shipping Cost benchmark (Jap-Kor-Aus)
            </td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 14).DerItemValue.Deviation)"></i></span>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 14).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 14).KpiMeasurement, "USD/MMbtu")
            </td>
        </tr>
    </tbody>
</table>
@*
    @model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayEconomicIndicatorViewModel

    <table class="der-table all-border">
        <thead>
            <tr>
                <th colspan="2" style="width: 18.75%">
                    Economic Indicator
                </th>
                <th style="width: 12.5%">
                    FX rate
                    SDR:IMF major ccy basket index
                </th>
            </tr>
        </thead>

        @{
            var pos0 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 0);
            var pos1 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 1);
            var pos2 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 2);
            var pos3 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 3);
            var pos4 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 4);
            var pos5 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 5);
            var pos6 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 6);
            var pos7 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 7);
            var pos8 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 8);
            var pos9 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 9);
            var pos10 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 10);

            <tbody>
                <tr>
                    <td>
                        Dubai Crude
                        (DME OQD FUT)
                    </td>
                    <td>
                        @pos0.Progress @pos0.Daily @pos0.Measurement
                    </td>
                    <td>
                        @pos5.Progress @pos5.Daily @pos5.Measurement
                    </td>
                </tr>
                <tr>
                    <td>
                        BRENT FUT
                    </td>
                    <td>
                        @pos1.Progress @pos1.Daily @pos1.Measurement
                    </td>
                    <td>
                        @pos6.Progress @pos6.Daily @pos6.Measurement
                    </td>
                </tr>
                <tr>
                    <td>
                        Naphta FOB Sing
                    </td>
                    <td>
                        @pos2.Progress @pos2.Daily @pos2.Measurement
                    </td>
                    <td>
                        @pos7.Progress @pos7.Daily @pos7.Measurement
                    </td>
                </tr>
                <tr>
                    <td>
                        Naphta FOB Sing
                    </td>
                    <td>
                        @pos3.Progress @pos3.Daily @pos3.Measurement
                    </td>
                    <td>
                        @pos8.Progress @pos8.Daily @pos8.Measurement
                    </td>
                </tr>
                <tr>
                    <td>
                        Naphta FOB Sing
                    </td>
                    <td>
                        @pos4.Progress @pos4.Daily @pos4.Measurement
                    </td>
                    <td>
                        @pos9.Progress @pos9.Daily @pos9.Measurement
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        LNG Shipping Cost benchmark
                        (Jap-Kor-Aus)
                    </td>
                    <td>
                        @pos10.Progress @pos10.Daily@pos10.Measurement
                    </td>
                </tr>
            </tbody>
        }

    </table>
*@
