@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayEconomicIndicatorViewModel

<table class="der-table all-border">
    <thead>
        <tr>
            <th colspan="2" style="width: 18.75%">
                Economic Indicator
            </th>
            <th style="width: 12.5%">
                FX rate
                SDR:IMF major ccy basket index
            </th>
        </tr>
    </thead>

    @{
        var pos0 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 0);
        var pos1 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 1);
        var pos2 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 2);
        var pos3 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 3);
        var pos4 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 4);
        var pos5 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 5);
        var pos6 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 6);
        var pos7 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 7);
        var pos8 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 8);
        var pos9 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 9);
        var pos10 = Model.EconomicIndicatorViewModels.Single(x => x.Position == 10);

        <tbody>
            <tr>
                <td>
                    Dubai Crude
                    (DME OQD FUT)
                </td>
                <td>
                    @pos0.Daily @pos0.Measurement
                </td>
                <td>
                    @pos5.Daily @pos5.Measurement
                </td>
            </tr>
            <tr>
                <td>
                    BRENT FUT
                </td>
                <td>
                    @pos1.Daily @pos1.Measurement
                </td>
                <td>
                    @pos6.Daily @pos6.Measurement
                </td>
            </tr>
            <tr>
                <td>
                    Naphta FOB Sing
                </td>
                <td>
                    @pos2.Daily @pos2.Measurement
                </td>
                <td>
                    @pos7.Daily @pos7.Measurement
                </td>
            </tr>
            <tr>
                <td>
                    Naphta FOB Sing
                </td>
                <td>
                    @pos3.Daily @pos3.Measurement
                </td>
                <td>
                    @pos8.Daily @pos8.Measurement
                </td>
            </tr>
            <tr>
                <td>
                    Naphta FOB Sing
                </td>
                <td>
                    @pos4.Daily @pos4.Measurement
                </td>
                <td>
                    @pos9.Daily @pos9.Measurement
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    LNG Shipping Cost benchmark
                    (Jap-Kor-Aus)
                </td>
                <td>
                    @pos10.Daily@pos10.Measurement
                </td>
            </tr>
        </tbody>
    }

</table>
