@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel
<style>
    .first-row {
        height: 20pt;
    }

    .next-row {
        height: 11pt;
    }
</style>
<table class="table table-bordered global-stock">
    <thead>
        <tr>
            <td rowspan="2" style="vertical-align:middle;font-size:11px;width: 138px;">Global Stock Market</td>
            <td colspan="3" style="vertical-align: middle;font-size:12px">LNG Spot Market Indicato</td>
        </tr>
        <tr>
            <td style="width:84px">Derivative JKM”</td>
            <td>Northwest Europe Marker”</td>
            <td style="width:30%">JKM Spot Market</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="next-row">
                    <span class="comparison absolute"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Deviation)"></i></span>
                    @Html.DisplayDerValueWithLabelAtFront("JKSE", Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, "JSKE")
                </div>
            </td>
            <td class="brenfut1-first" style="border-bottom:none;"></td>
            <td class="brenfut-first" style="border-bottom:none;"></td>
            <td class="brenfut3-first" style="border-bottom:none;"></td>
        </tr>
        <tr>
            <td>
                <div class="next-row">
                    <span class="comparison absolute"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Deviation)"></i></span>
                    @Html.DisplayDerValueWithLabelAtFront("DJIA", Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, "DJIA")
                </div>
            </td>
            <td class="brenfut1-second" style="border-bottom:none;"></td>
            <td class="brenfut-second" style="border-bottom:none;"></td>
            <td class="brenfut3-second" style="border-bottom:none;"></td>
        </tr>
        <tr>
            <td>
                <span class="comparison absolute"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Deviation)"></i></span>
                @Html.DisplayDerValueWithLabelAtFront("Nikkei 225:", Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value, "Nikkei 225:")
            </td>
            <td class="brenfut1-third" style="border-bottom:none;"></td>
            <td class="brenfut-third" style="border-bottom:none;"></td>
            <td class="brenfut3-third" style="border-bottom:none;"></td>
        </tr>
        <tr>
            <td>
                <span class="comparison absolute"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Deviation)"></i></span>
                @Html.DisplayDerValueWithLabelAtFront("Shanghai SEC:", Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value, "Shanghai SEC:")

            </td>
            <td class="brenfut1-fourth" style="border-bottom:none;"></td>
            <td class="brenfut-fourth" style="border-bottom:none;"></td>
            <td class="brenfut3-fourth" style="border-bottom:none;"></td>
        </tr>
    </tbody>
</table>
<span id="brenfut" data-val="@Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Value"></span>
    <span id="brenfut1" data-val="@Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Value"></span>
    <span id="brenfut3" data-val="@Model.KpiInformationViewModels.Single(x => x.Position == 6).DerItemValue.Value"></span>
    <script type="text/javascript">
        $(document).ready(function () {
            var brenfut = $('#brenfut').data('val');
            if (brenfut != '') {
                $('.brenfut-first').append(brenfut.a.label);
                $('.brenfut-second').append(brenfut.b.label);
                $('.brenfut-third').append(brenfut.c.label);
                $('.brenfut-fourth').append(brenfut.d.label);
            }

            var brenfut1 = $('#brenfut1').data('val');
            console.log(brenfut1);
            if (brenfut1 != '') {
                $('.brenfut1-first').append(brenfut1.a.label);
                $('.brenfut1-second').append(brenfut1.b.label);
                $('.brenfut1-third').append(brenfut1.c.label);
                $('.brenfut1-fourth').append(brenfut1.d.label);
            }

            var brenfut3 = $('#brenfut3').data('val');
            console.log(brenfut3);
            if (brenfut3 != '') {
                $('.brenfut3-first').append(brenfut3.a.label);
                $('.brenfut3-second').append(brenfut3.b.label);
                $('.brenfut3-third').append(brenfut3.c.label);
                $('.brenfut3-fourth').append(brenfut3.d.label);
            }
        });
    </script>