@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel
<table class="table table-bordered hhv vertical-space">
    <thead>
        <tr>
            <td colspan="2">
                HHV
            </td>
        </tr>
        <tr>
            <td>
                JOB PMTS
            </td>
            <td>
                MGDP
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "btu/scf") 
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "-")
            </td>
        </tr>
        <tr>
            <td style="height:23px;">
                 @Html.DisplayDerValueWithLabelAtFront("min", Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value, string.Empty)
            </td>
            <td>
                @Html.DisplayDerValueWithLabelAtFront("min", Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value, string.Empty)
            </td>
        </tr>
    </tbody>
</table>

@*-
@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayHHVViewModel

<table class="der-table all-border">
    <thead>
        <tr>
            <th colspan="2" class="der-bg-green-3">HHV</th>
        </tr>
        <tr>
            <th class="der-bg-green-3">JOB PMTS</th>
            <th class="der-bg-green-3">MGDP</th>
        </tr>
    </thead>
    @{
        var pos0 = Model.HHVViewModels.Single(x => x.Position == 0);
        var pos1 = Model.HHVViewModels.Single(x => x.Position == 1);
        var pos2 = Model.HHVViewModels.Single(x => x.Position == 2);
        var pos3 = Model.HHVViewModels.Single(x => x.Position == 3);
        if(pos1.Daily != "n/a")
        {
            pos1.Daily = "min" + pos1.Daily;
        }
        if (pos3.Daily != "n/a")
        {
            pos3.Daily = "min" + pos3.Daily;
        }
        <tbody>
            <tr>
                <td class="der-bg-yellow">@pos0.Daily @pos0.Measurement</td>
                <td class="der-bg-gray-1">@pos2.Daily @pos2.Measurement</td>
            </tr>
            <tr>
                <td class="der-bg-green-3">@pos1.Daily @pos1.Measurement</td>
                <td class="der-bg-green-3">@pos3.Daily @pos3.Measurement</td>
            </tr>
        </tbody>
    }
</table>
*@
