@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayJobPmtsViewModel
<table class="der-table all-border">
    <thead>
        <tr>
            <th colspan="6" class="der-bg-purple">JOB PMTS</th>
        </tr>
        <tr>
            <th colspan="2" class="der-bg-blue-4">ACTUAL 24H</th>
            <th colspan="2" class="der-bg-blue-4">ACTUAL MTD</th>
            <th colspan="2" class="der-bg-blue-4">ACTUAL YTD</th>
        </tr>
    </thead>
    @{
        var pos0 = Model.JobPmtsViewModels.Single(x => x.Position == 0);
        var pos1 = Model.JobPmtsViewModels.Single(x => x.Position == 1);
        var pos2 = Model.JobPmtsViewModels.Single(x => x.Position == 2);
        <tbody>
            <tr>
                <td>@pos0.Daily</td>
                <td rowspan="2">@pos2.Daily</td>
                <td>@pos0.Mtd</td>
                <td rowspan="2">@pos2.Mtd</td>
                <td>@pos0.Ytd mmscf</td>
                <td rowspan="2">@pos2.Ytd</td>
            </tr>
            <tr>
                <td>@pos1.Daily</td>
                <td>@pos1.Mtd</td>
                <td>@pos1.Ytd</td>
            </tr>
            <tr>
                <td colspan="2">134% of DCQ 277,750 mmbtu</td>
                <td colspan="2">92% of MGN 8,610 bbtu</td>
                <td colspan="2">8% of ADP 101.6 TBtu</td>
            </tr>
        </tbody>
        
        
    }

</table>
