@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayLngAndCdsViewModel

@{
    var pos0 = Model.DisplayLngAndCds.Single(x => x.Position == 0);
    var pos1 = Model.DisplayLngAndCds.Single(x => x.Position == 1);
    var pos2 = Model.DisplayLngAndCds.Single(x => x.Position == 2);
    var pos3 = Model.DisplayLngAndCds.Single(x => x.Position == 3);
    var pos4 = Model.DisplayLngAndCds.Single(x => x.Position == 4);
    var pos5 = Model.DisplayLngAndCds.Single(x => x.Position == 5);
    var pos6 = Model.DisplayLngAndCds.Single(x => x.Position == 6);
    var pos7 = Model.DisplayLngAndCds.Single(x => x.Position == 7);
    var pos8 = Model.DisplayLngAndCds.Single(x => x.Position == 8);
    var pos9 = Model.DisplayLngAndCds.Single(x => x.Position == 9);
    var pos10 = Model.DisplayLngAndCds.Single(x => x.Position == 10);
    var pos11 = Model.DisplayLngAndCds.Single(x => x.Position == 11);
    var pos12 = Model.DisplayLngAndCds.Single(x => x.Position == 12);
    var pos13 = Model.DisplayLngAndCds.Single(x => x.Position == 13);
}

<table class="der-table all-border">
    <thead>
        <tr>
            <th class="der-bg-blue-3">
                LNG LOADED
            </th>
            <th class="der-bg-blue-3">
                m3
            </th>
            <th class="der-bg-blue-3">
                tonnes
            </th>
            <th class="der-bg-blue-3">
                mmbtu
            </th>
            <th class="der-bg-blue-4">
                #Cargo Shipped
            </th>
            <th class="der-bg-blue-7">
                Planned Cargoes
                (ADP 2016)
            </th>
            <th class="der-bg-blue-7">
                Remarks
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="der-bg-blue-4">
                ACTUAL MTD
            </td>
            <td>
                @pos0.Mtd
            </td>
            <td>
                @pos1.Mtd
            </td>
            <td>
                @pos2.Mtd
            </td>
            <td>
                @pos3.Mtd
            </td>
            <td>
                @pos4.Remarks
            </td>
            <td>
                @pos5.Remarks
            </td>
        </tr>
        <tr>
            <td class="der-bg-blue-4">
                ACTUAL YTD
            </td>
            <td>
                @pos0.Ytd
            </td>
            <td>
                @pos1.Ytd
            </td>
            <td>
                @pos2.Ytd
            </td>
            <td>
                @pos3.Ytd
            </td>
            <td>
                @pos6.Remarks
            </td>
            <td>
                @pos7.Remarks
            </td>
        </tr>
    </tbody>
</table>
<table class="der-table all-border">
    <thead>
        <tr>
            <th class="der-bg-blue-3">
                CDS LOADED
            </th>
            <th class="der-bg-blue-3">
                m3
            </th>
            <th class="der-bg-blue-3">
                tonnes
            </th>
            <th>
                Bbls
            </th>
            <th>
                #Cargo Shipped
            </th>
            <th>
                Note
            </th>
            <th>
                Remarks
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                ACTUAL MTD
            </td>
            <td>
                @pos8.Mtd
            </td>
            <td>
                @pos9.Mtd
            </td>
            <td>
                @pos10.Mtd
            </td>
            <td>
                @pos11.Mtd
            </td>
            <td rowspan="2">
                @pos12.Remarks
            </td>
            <td rowspan="2">
                @pos13.Remarks
            </td>
        </tr>
        <tr>
            <td>
                ACTUAL MTD
            </td>
            <td>
                @pos8.Ytd
            </td>
            <td>
                @pos9.Ytd
            </td>
            <td>
                @pos10.Ytd
            </td>
            <td>
                @pos11.Ytd
            </td>
        </tr>
    </tbody>
</table>
