@model IEnumerable<DSLNG.PEAR.Web.ViewModels.Highlight.DailyExecutionReportViewModel.NLSViewModel>
<table class="table table-bordered nls vertical-space top-bottom-border">
    <thead>
                        <tr>
                            <td style="width:12%">
                                NEXT LOADING SCHEDULE
                            </td>
                            <td style="width: 13.2%;">
                                Vessel (capacity)
                            </td>
                            <td style="width: 12.5%;">
                                ETA
                            </td>
                            <td style="width: 12.7%;">
                                ETD
                            </td>
                            <td style="width: 12.5%;" class="cargo">
                                Cargo#
                            </td>
                            <td>Remarks</td>
                        </tr>
                    </thead>
    <tbody>
        @foreach (var nls in Model)
        {
            <tr>
                <td>
                    @nls.VesselType - @nls.SalesType - @nls.Type
                </td>
                <td>@nls.Vessel (@nls.Capacity @nls.Measurement)</td>
                <td>@nls.ETA.ToString("dd-MM-yyyy")</td>
                <td>@nls.ETD.ToString("dd-MM-yyyy")</td>
                <td>@nls.Cargo</td>
                <td>@nls.Remark</td>
            </tr>
        }
    </tbody>
</table>

