@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel

<table class="table table-bordered top-bottom-border vertical-space plant-availability">
    <thead>
        <tr>
            <td class="desc">Description</td>
            <td style="width: 13.2%;">Plant Availability (hour-daily)</td>
            <td style="width: 12.5%;">
                Plant Thermal Efficiency
            </td>
            <td style="width: 12.7%;">
                Material Balance (Flare Loss-%)
            </td>
            <td style="width: 12.5%;">
                Plant intake Utilization (Feed/ Max.Cap)
            </td>
            <td class="second-header">
                Total Flared Gas (Wet-Dry-Tankage)
            </td>
            <td style="width: 15%;" class="refrigerant second-header">
                Refrigerant Prod (C2&amp;C3)
            </td>
            <td style="width: 10%;" class="refrigerant second-header">
                Material Balance (Loss)
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="left-header">
                ACTUAL 24H
            </td>
            <td>
                @Html.DisplayDerRemarkJson(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Remark, "daily")
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "%")
                
            </td>
            <td>
                @Html.DisplayDerRemarkJson(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Remark, "daily")
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "%")
                
            </td>
            <td>
                @Html.DisplayDerRemarkJson(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Remark, "daily")
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "%")
                
            </td>
            <td>
                @Html.DisplayDerRemark(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Remark)
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 3).KpiMeasurement, "%")

            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 4).KpiMeasurement, "nm3")

            </td>
            <td rowspan="2" class="text-center" style="vertical-align:middle">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 5).KpiMeasurement, "mmscf")
                
            </td>
            <td rowspan="2" class="text-center" style="vertical-align:middle">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 6).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 6).KpiMeasurement, "nm3")
                
            </td>
        </tr>
        <tr>
            <td class="left-header">
                ACTUAL MTD
            </td>
            <td>
                @Html.DisplayDerRemarkJson(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Remark, "mtd")
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Mtd, Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "%")
            </td>
            <td>
                @Html.DisplayDerRemarkJson(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Remark, "mtd")
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Mtd, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "%")
                
            </td>
            <td>
                @Html.DisplayDerRemarkJson(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Remark, "mtd")
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Mtd, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "%")
                
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Mtd, Model.KpiInformationViewModels.Single(x => x.Position == 3).KpiMeasurement, "%")

            </td>
            <td>
                @Html.DisplayDerRemark(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Remark)
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Mtd, Model.KpiInformationViewModels.Single(x => x.Position == 4).KpiMeasurement, "mmscf")
            </td>
        </tr>
        <tr>
            <td class="left-header">
                Actual-YTD
            </td>
            <td>
                @Html.DisplayDerRemarkJson(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Remark, "ytd")
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "%")
                
            </td>
            <td>
                @Html.DisplayDerRemarkJson(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Remark, "ytd")
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "%")
                
            </td>
            <td>
                @Html.DisplayDerRemarkJson(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Remark, "ytd")
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "%")
                
            </td>
            <td>
                @Html.DisplayDerRemark(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Remark)
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 3).KpiMeasurement, "%")

            </td>
            <td colspan="3" class="text-center second-header">
                Total Fuel Gas (GTG-GTC-LP Fuel)
            </td>

        </tr>
        <tr>
            <td class="left-header">
                2016 Target
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 10).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 10).KpiMeasurement, "%")
                
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 11).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 11).KpiMeasurement, "%")
                
            </td>
            <td>
                &lt; @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 12).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 12).KpiMeasurement, "%")
                
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 13).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 13).KpiMeasurement, "%")
                
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 7).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 7).KpiMeasurement, "%")
                
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 8).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 8).KpiMeasurement, "mmbtu")
                
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 8).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 8).KpiMeasurement, "mmscf")
                 
            </td>
        </tr>
    </tbody>
</table>