@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel

<table class="table borderless security-incident">
    <tr>
        <td>
            <ul class="list-unstyled">
                <li>Security</li>
                <li>Incident Type</li>
                <li>(Act 24H)</li>
            </ul>
        </td>
        <td style="text-align: right">
            <ul class="list-unstyled">
                <li>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value) Mass Gathering</li>
                <li>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value) Road Blockade</li>
                <li>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value) Traffic Accident</li>
            </ul>
        </td>
        <td style="text-align: right">
            <ul class="list-unstyled">
                <li>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value) Theft/Criminal</li>
                <li>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Value) Violence</li>
                <li>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Value) Prop Destruction/Vandalism</li>
            </ul>
        </td>
    </tr>
</table>

