@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel

<table class="table borderless security-incident">
    <tr>
        <td style="width:13%">
            <ul class="list-unstyled">
                <li>Security</li>
                <li>Incident Type</li>
                <li>(Act 24H)</li>
            </ul>
        </td>
        <td style="text-align: right;width:37.8%">
            <ul class="list-unstyled">
                <li>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value) <span style="display: inline-block;min-width: 68px;">Mass Gathering</span></li>
                <li>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value) <span style="display: inline-block;min-width: 68px;">Road Blockade</span></li>
                <li>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value) <span style="display: inline-block;min-width: 68px;">Traffic Accident</span></li>
            </ul>
        </td>
        <td style="text-align: right;width:59.2%">
            <ul class="list-unstyled">
                <li>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value) <span style="display: inline-block;min-width: 129px;">Theft/Criminal</span></li>
                <li>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Value) <span style="display: inline-block;min-width: 129px;">Violence</span></li>
                <li>@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Value) <span style="display: inline-block;min-width: 129px;">Prop Destruction/Vandalism</span></li>
            </ul>
        </td>
    </tr>
</table>

