@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel
<table class="table table-bordered  tank-table vertical-space">
    <tbody>
        <tr>
            <td colspan="2" style="font-size:11px;font-weight:bold;text-align:center">
                LNG Tank (071)
            </td>
            <td colspan="2" style="font-size:11px;font-weight:bold;text-align:center">
                CDS Tank (079/1001)
            </td>
            <td colspan="2" style="font-size:11px;font-weight:bold;text-align:center">
                CDS Buffer Tank (079/1002)
            </td>
            <td style="font-size:11px;font-weight:bold;text-align:center">
                CDS day-tank (076)
            </td>
        </tr>
        <tr>
            <td style="width:12%;text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "tonnes")
            </td>
            <td style="width:12.9%;text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "m3")
            </td>
            <td style="width:17%;text-align:center">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 4).KpiMeasurement, "tonnes")
            </td>
            <td style="width:17%;text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 5).KpiMeasurement, "m3")
            </td>
            <td style="width:12%;text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 7).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 7).KpiMeasurement, "tonnes")
            </td>

            <td style="width:11.9%;text-align:right">

                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 8).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 8).KpiMeasurement, "m3")
            </td>
            <td style="text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 10).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 10).KpiMeasurement, "tonnes")
            </td>
        </tr>
        <tr>
            <td style="text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "mmbtu")

            </td>
            <td style="text-align:right;position:relative;">
                @LngInventoryLevel(Model.KpiInformationViewModels.Single(x => x.Position == 12).DerItemValue.Value)
                Days to tank top @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value, string.Empty, string.Empty)
            </td>
            <td style="text-align:center">
                Days to tank top
            </td>
            <td class="na-value" style="text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 6).DerItemValue.Value, string.Empty, string.Empty)
            </td>
            <td style="text-align:center">
                Days to tank top
            </td>
            <td class="na-value" style="text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 9).DerItemValue.Value, string.Empty, string.Empty)
            </td>
            <td style="text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 11).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 11).KpiMeasurement, "mmbtu")
            </td>
        </tr>
    </tbody>
</table>

@helper LngInventoryLevel(string val)
{
if (!string.IsNullOrEmpty(val))
{
    var parsed = double.Parse(val);
    if (parsed > 100) { parsed = 100; }
    <div class="bar-percentage" style="height:17px;top:1px"><div class="mgdp" style="width:@string.Format(@"{0}%", parsed.ToString())"></div></div>
}


}
