
@model DSLNG.PEAR.Web.ViewModels.DerLayout.DerLayoutItemViewModel

@{
    var labels = new List<string> { "JKSE", "DJIA", "Nikkei 255", "Shanghai SEC", "LNG Spot Market 1", "LNG Spot Market 2", "LNG Spot Market 3"};

    for (int i = 0; i < Model.KpiInformations.Count; i++)
    {
        var posIndex = Model.KpiInformations.FirstOrDefault(x => x.Position == i);
        if (posIndex != null)
        {
            if (i == 4 || i == 5 | i == 6)
            {
                <div class="form-group row">
                    <label class="control-label col-md-2">@labels.ElementAtOrDefault(i)</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.KpiInformations[i].HighlightId, new SelectList(Model.Highlights, "Value", "Text", Model.KpiInformations[i].HighlightId), "Select Highlight", new { @class = "form-control" })
                        @*@Html.DropDownListFor(model => model.KpiInformations[i].HighlightId, new SelectList(Model.Highlights, "Value", "Text", Model.KpiInformations[i].HighlightId), new {style = "width:180px"})*@
                        @Html.HiddenFor(model => model.KpiInformations[i].Position)
                        @Html.HiddenFor(model => model.KpiInformations[i].Id)
                        @Html.DropDownListFor(model => model.KpiInformations[i].ConfigType, Model.ConfigTypes, new { style = "visibility: hidden" })
                        <input type="hidden" name="KpiInformations.Index" value="@i" />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="control-label col-md-2">@labels.ElementAtOrDefault(i)</label>
                    <div class="col-md-10">

                        @Html.DropDownListFor(model => model.KpiInformations[i].KpiId, new List<SelectListItem> { new SelectListItem { Value = Model.KpiInformations[i].KpiId.ToString(), Text = Model.KpiInformations[i].KpiName } }, new { @class = "kpi-list form-control", style = "width:180px" })
                        @Html.HiddenFor(model => model.KpiInformations[i].Position)
                        @Html.HiddenFor(model => model.KpiInformations[i].Id)
                        @Html.DropDownListFor(model => model.KpiInformations[i].ConfigType, Model.ConfigTypes, new { style = "visibility: hidden" })
                        <input type="hidden" name="KpiInformations.Index" value="@i" />
                    </div>
                </div>
            }

        }
    }
}


