@model  DSLNG.PEAR.Web.ViewModels.Der.DerIndexViewModel
@{
    ViewBag.Title = "Daily Executive Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dataTables_filter {
display: none; 
}
</style>
<h2>DER (Daily Executive Report)</h2>
@Html.Partial("_MessageResponse")
<div class="add-button-wrapper pull-left">
    
    @if (Session["DER"] != null)
    {
        var privilege = Session["DER"] as List<string>;
        if (privilege.Contains("AllowCreate"))
        {
            @Html.ActionLink("Generate", "Preview", null, new { @class = "btn-master-rgw btn btn-primary" })
        }
        if (privilege.Contains("AllowUpload"))
        {
            <a class="btn-master-rgw btn btn-primary" id="upload-der" data-toggle="modal" data-target="#der-upload-modal">Upload</a>
        }
    }

    @*@Html.ActionLink("Input", "Input", null, new { @class = "btn-master-rgw btn btn-primary" })*@
</div>
<div class="pull-right">
    <form class="form-inline">
        <div class="form-group" style="margin-top: 5px; margin-left: 25px; padding-right: 30px; border-right: solid 1px #3f454f;">
            <label class="labletop">Year :</label>
            @Html.DropDownListFor(x => x.Year, Model.YearList, new { @class = "form-control", id = "year" })
        </div>
        <div class="form-group" style="margin-top: 5px;">
            <label class="labletop">Month :</label>
            @Html.DropDownListFor(x => x.Month, Model.MonthList, new { @class = "form-control", id = "month" })

        </div>
    </form>
</div>
<table id="der-table" class="rgw-tbl-bp rgw-tbl table-transparent table table-responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Publish Date</th>
            <th>Version</th>
            <th>File Attachment</th>
        </tr>
    </thead>
</table>

<div id="der-upload-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form name="upload-der-form" action="@Url.Action("Upload", "Der")" enctype="multipart/form-data" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload DER File</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-list">
                        <label>File</label>
                        <input class="form-control" type="file" name="derFile" required>
                        <span class="field-validation-valid" data-valmsg-for="Weight" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group form-list">
                        <label>Date</label>
                        <input name="date" class="form-control datepicker" />
                    </div>
                </div>
                
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Upload"></input>
                        <button type="button" class="btn btn-darkblue" data-dismiss="modal">Close</button>
                    </div>
                </div>
        </form>
    </div>
</div>

<div id="der-versions-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form name="upload-der-form" action="@Url.Action("Upload", "Der")" enctype="multipart/form-data" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">DER Versions</h4>
                </div>
                <div class="modal-body">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-darkblue" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            @{
                bool AllowDelete = false;
                var privileges = Session["DER"] as List<string>;
                if (privileges.Contains("AllowDelete"))
                {
                    AllowDelete = true;
                }
            }
            AllowDelete = '@{ @AllowDelete}';
            var table = $('#der-table').DataTable({
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "iDisplayLength": -1,
                "bProcessing": true,
                "bServerSide": true,
                "sServerMethod": "POST",
                "sAjaxSource": '@Url.Action("Grid", "Der")',
                "order": [[0, "desc"]],
                "oSearch": {
                    "sSearch": $('#month').val() + '-' + $('#year').val()
                },
                "aoColumns": [
                    {
                        "mDataProp": "Date", "name": "Date", "className": "dt-body-left",
                        "mRender": function (data, type, row) {
                            return moment(new Date(data.match(/\d+/)[0] * 1)).format('DD MMM YYYY');
                     }

                    },
                    {
                        "mDataProp": "Revision", "name": "Revision", "className": "dt-body-left",
                        "mRender": function (data, type, row, pos) {
                            return '<a href="#"  id="der-versions" data-toggle="modal" data-target="#der-versions-modal" data-pos="'+pos.row+'">' + data + '</a>';
                        }
                    },
                      {
                        "orderable": false,
                        "data": null,
                        "defaultContent": '',
                        "mRender": function (data, type, row) {
                            var files = row.Filename.split(';');
                            if (files.length) {
                                return '<a href="' + files[files.length -1].replace('~/', window.location.protocol + "//" + window.location.host + "/") + '">View File Attachment</a> |' +
                                    '<a download href="' + files[files.length - 1].replace('~/', window.location.protocol + "//" + window.location.host + "/") + '">Download</a>';
                            }
                            return '';

                        }
                    }
                ],
                rowCallback: function (row, data) {
                    // Set the checked state of the checkbox in the table
                    //$('input.is-active', row).prop('checked', data.IsActive == 1);
                }
            });

            $(document).on('click', '.delete', function () {
                var filename = $(this).attr('data-filename');
                if (confirm('Are you sure want to delete this item?' + filename)) {
                    var url = '@Url.Action("Delete", "Der")';
                    var form = $('<form />');
                    form.attr('action', url);
                    form.attr('method', 'POST');
                    form.html('<input type="hidden" name="filename" value="' + filename + '" />');
                    $('body').append(form);
                    form.submit();
                }
            });

            $('.datepicker').datetimepicker({
                format: "MM/DD/YYYY",
                focusOnShow: false
            });

            $('.year-filter').datetimepicker({
                format: "MM",
                focusOnShow: false
            });


            //$('#upload-der').click(function () {
            //    alert('asasas');
            //});
            $(document).on('click', '#der-versions', function (e) {
                e.preventDefault();
                var $this = $(this);
                var row = $this.data('pos');
                var rows = table.rows().data();
                var rowData = rows[row];
                var $table = $('<table />');
                $table.addClass('table table-bordered der-versions-table');
                $table.attr('style', 'color:#fff !important');
                $table.append('<thead><tr><th>Version</th><th>File Attachment</th><th>Action</th></th></thead>');
                $table.append('<tbody></tbody>');
                var files = rowData.Filename.split(';');
                var $tableBody = $table.find('tbody');
                for (var i in files) {
                    var version = parseInt(files[i].split('_')[1].replace('.pdf', ''));
                    var $tr = $('<tr />');
                    $tr.append('<td>' + version + '</td>');
                    var view = '<a href="' + files[i].replace('~/', window.location.protocol + "//" + window.location.host + "/") + '">View File Attachment</a> |' +
                                    '<a download href="' + files[i].replace('~/', window.location.protocol + "//" + window.location.host + "/") + '">Download</a>';
                    $tr.append('<td>' + view + '</td>');
                    var arrFilenames = files[i].split('/');
                    var filename = arrFilenames[arrFilenames.length - 1];
                    if (AllowDelete == 'True' || AllowDelete == 'true' || AllowDelete == true) {
                        $tr.append('<td><a href="#" class="delete" data-filename="' + filename + '">Delete</a></td>');
                    }
                    $tableBody.append($tr);
                }
                $('#der-versions-modal .modal-body').html($table);
                $('#der-versions-modal .modal-title').html("DER " + moment(new Date(rowData.Date.match(/\d+/)[0] * 1)).format('DD MMM YYYY') +  " Versions");
            });

            function getQueryVariable(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split('&');
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split('=');
                    if (decodeURIComponent(pair[0]) == variable) {
                        return decodeURIComponent(pair[1]);
                    }
                }
                return null;
            }
            function updateQueryStringParameter(uri, key, value) {
                var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
                var separator = uri.indexOf('?') !== -1 ? "&" : "?";
                if (uri.match(re)) {
                    return uri.replace(re, '$1' + key + "=" + value + '$2');
                }
                else {
                    return uri + separator + key + "=" + value;
                }
            }

            var reloadView = function () {
                var location = updateQueryStringParameter(window.location.href, "year", encodeURIComponent($('#year').val()));
                window.document.location = updateQueryStringParameter(location, "month", encodeURIComponent($('#month').val()));
            };

            $('#month,#year').change(function (e) {
                e.preventDefault();
                reloadView();
            });
        });
    </script>
}