@{ 
    Layout = null;
}
@model DSLNG.PEAR.Web.ViewModels.DerTransaction.DerValuesViewModel
<div class="col-md-12">
    <div class="col-md-4">
        @*@{ 
            var layoutItem = Model.DerLayoutItems.First(x => x.Column == 1 && x.Row == 14);
        }*@
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">USDXDR</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 386, 1, "rate","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">USD/IDR</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 79, 2, "rate","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">JPY/IDR</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 80, 3, "rate","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">USD/JPY</label></td>
                <td>
                    <span class="col-sm-8">
                       @Html.DisplayKpiInformationInput(Model.KpiInformations, 128, 4, "rate","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">EUR/USD</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 388,5, "rate","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">EUR/IDR</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 389, 6, "rate","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">USD/KRW</label></td>
                <td>
                    <span class="col-sm-8">
                       @Html.DisplayKpiInformationInput(Model.KpiInformations, 390, 7, "rate","prev")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">Dubai crude</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 383, 8,"usd/bbl","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Brent</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 64,9,"usd/bbl","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Henry Hub</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 384,10,"usd/bbl","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Naptha</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 65,11,"usd/bbl","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">ICP</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 385,12,"usd/bbl","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Applied JCC</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 62,13,"usd/bbl","prev","monthly-actual")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">LNG Spot</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 63, 14,"usd/mmbtu","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Shipping</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 391, 15,"usd/mmbtu","prev")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        @*@{
            var layoutItem2 = Model.DerLayoutItems.First(x => x.Column == 1 && x.Row == 16);
        }*@
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">JKSE</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 392, 16,"index","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">DJIA</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 393, 17,"index","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Nikkei</label></td>
                <td>
                    <span class="col-sm-8">
                       @Html.DisplayKpiInformationInput(Model.KpiInformations, 394, 18,"index","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">SSEC</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 395, 19,"index","prev")
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-6">
        @*@{
            var layoutItem3 = Model.DerLayoutItems.First(x => x.Column == 1 && x.Row == 15);
        }*@
        <table border="0">
            <tr>
                <td><label class="control-label">Macro Economic/Market Flash</label></td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayHighlightTextarea(Model.Highlights,15,20)
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        @*@{
            var layoutItem4 = Model.DerLayoutItems.First(x => x.Column == 2 && x.Row == 15);
        }*@
        <table border="0">
            <tr>
                <td align="left"><label class="control-label">Market Tone</label></td>
                <td align="left">
                    @Html.DisplayHighlightDropdownList(Model.Highlights,68, new List<SelectListItem> {
                        new SelectListItem { Text = "Bullish", Value = "Bullish" },
                        new SelectListItem { Text = "Mixed", Value = "Mixed" },
                        new SelectListItem { Text = "Bearish", Value = "Bearish" },
                    },21)
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        <table border="0">
            <tr>
                <td align="left"><label class="control-label">Monthly Bunker Price</label></td>
                <td align="left">
                    @Html.DisplayKpiInformationInput(Model.KpiInformations, 397, 22, "usd/bbl", "prev")
                </td>
            </tr>
        </table>
    </div>
</div>