@{
    Layout = null;
}
@model DSLNG.PEAR.Web.ViewModels.DerTransaction.DerValuesViewModel
<div class="col-md-12">
    <div class="col-md-4">
        <!--263-->
        <table width="900" border="0" cellpadding="2" cellspacing="2" style="margin-top: 15px; margin-bottom: 15px;">
            <tr>
                <td>
                    <h4 style="margin-top: 20px;">Procurement Section-E</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="" style="margin-top: 20px;">#backlog</label>
                    <br />
                    @Html.DisplayKpiInformationInput(Model.KpiInformations, 379, 263, "number", "prev")
                </td>
            </tr>
            <tr>
                <td>
                    <label for="" style="margin-top: 20px;">Remark</label>
                    <br />
                    @Html.DisplayKpiInformationInput(Model.KpiInformations, 379, 265, "free text", "prev", "daily-actual", "remark")
                </td>
            </tr>
            <tr>
                <td>
                    <label for="" style="margin-top: 20px;">Avg backlog</label>
                    <br />
                    @Html.DisplayKpiInformationInput(Model.KpiInformations, 380, 264, "number", "prev")
                </td>
            </tr>
            <tr>
                <td>
                    <label for="" style="margin-top: 20px;">Remark</label>
                    <br />
                   @Html.DisplayKpiInformationInput(Model.KpiInformations, 380, 265, "free text", "prev", "daily-actual", "remark")
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table width="900" border="0" cellpadding="2" cellspacing="2" style="margin-top: 15px; margin-bottom: 15px;">
            <tr>
                <td>
                    <h4 for="" style="margin-top: 20px;">ICT Infrastructure and System Highlight:-F</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="" style="margin-top: 20px;">Application</label>
                    <br />
                    @Html.DisplayIctInfraOrGsfmHighlight(Model.Highlights,66,new List<SelectListItem>{
                    new SelectListItem { Text = "-1", Value = "-1" },
                        new SelectListItem { Text = "0", Value = "0" },
                         new SelectListItem { Text = "1", Value = "1" },
               },266,"a")
                    @*<select>
                        <option>Select Option</option>
                        <option>Option 1</option>
                        <option>Option 2</option>
                    </select>*@
                </td>
            </tr>
            <tr>
                <td>
                    <label for="" style="margin-top: 20px;">Colaboration</label>
                    <br />
                    @Html.DisplayIctInfraOrGsfmHighlight(Model.Highlights, 66, new List<SelectListItem>{
                  new SelectListItem { Text = "-1", Value = "-1" },
                        new SelectListItem { Text = "0", Value = "0" },
                         new SelectListItem { Text = "1", Value = "1" },
               }, 267, "b")
                </td>
            </tr>
            <tr>
                <td>
                    <label for="" style="margin-top: 20px;">Telco</label>
                    <br />
                    @Html.DisplayIctInfraOrGsfmHighlight(Model.Highlights, 66, new List<SelectListItem>{
                  new SelectListItem { Text = "-1", Value = "-1" },
                        new SelectListItem { Text = "0", Value = "0" },
                         new SelectListItem { Text = "1", Value = "1" },
               }, 268, "c")
                </td>
            </tr>
            <tr>
                <td>
                    <label for="" style="margin-top: 20px;">Remark</label>
                    <br />
                    @*<input type="text" name="" id="" placeholder="free text" />*@
                    @*@Html.DisplayIctInfraOrGsfmHighlight(Model.Highlights, 66, new List<SelectListItem>{
                    new SelectListItem { Text = "Option 1", Value = "Option 1" },
                        new SelectListItem { Text = "Option 2", Value = "Option 2" },
               }, 269, "remark")*@
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table width="900" border="0" cellpadding="2" cellspacing="2" style="margin-top: 15px; margin-bottom: 15px;">
            <tr>
                <td>
                    <h4 for="" style="margin-top: 20px;">GS & FM-G</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="" style="margin-top: 20px;">POB</label>
                    <br />
                    @Html.DisplayKpiInformationInput(Model.KpiInformations, 36, 270, "number", "prev")
                </td>
            </tr>
            <tr>
                <td>
                    <label for="" style="margin-top: 20px;">F&B</label>
                    <br />
                    @Html.DisplayIctInfraOrGsfmHighlight(Model.Highlights, 53, new List<SelectListItem>{
                 new SelectListItem { Text = "-1", Value = "-1" },
                        new SelectListItem { Text = "0", Value = "0" },
                         new SelectListItem { Text = "1", Value = "1" },
               }, 271, "a")
                </td>
            </tr>
            <tr>
                <td>
                    <label for="" style="margin-top: 20px;">Camp</label>
                    <br />
                    @Html.DisplayIctInfraOrGsfmHighlight(Model.Highlights, 53, new List<SelectListItem>{
                   new SelectListItem { Text = "-1", Value = "-1" },
                        new SelectListItem { Text = "0", Value = "0" },
                         new SelectListItem { Text = "1", Value = "1" },
               }, 272, "b")
                </td>
            </tr>
            <tr>
                <td>
                    <label for="" style="margin-top: 20px;">Transp</label>
                    <br />
                    @Html.DisplayIctInfraOrGsfmHighlight(Model.Highlights, 53, new List<SelectListItem>{
                  new SelectListItem { Text = "-1", Value = "-1" },
                        new SelectListItem { Text = "0", Value = "0" },
                         new SelectListItem { Text = "1", Value = "1" },
               }, 273, "c")
                </td>
            </tr>
            <tr>
                <td>
                    <label for="" style="margin-top: 20px;">Remark</label>
                    <br />
                    @*<input type="text" name="" id="" placeholder="free text" />*@
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-6">
        <h4 style="color: white;">Community Relation and Govt Engagement Highlight-H</h4>
        <table border="0">
            <tr>
                <td><label class="control-label">Remark</label></td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayHighlightTextarea(Model.Highlights, 14, 275)
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table border="0">
            <tr>
                <td><h4 class="control-label">Daily Highlight-K</h4></td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayHighlightTextarea(Model.Highlights, 8, 276)
                </td>
            </tr>
            <tr>
                <td><h4 class="control-label">Daily Indicator</h4></td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights,58,new List<SelectListItem> {
                   new SelectListItem {Value = "1", Text = "1" },
                   new SelectListItem {Value = "2", Text = "2" },
                   new SelectListItem {Value = "3", Text = "3" },
                   new SelectListItem {Value = "4", Text = "4" },
                   new SelectListItem {Value = "5", Text = "5" }
               },277,"prev" )
                </td>
            </tr>
        </table>
    </div>
</div>
