@{
    Layout = null;
}
@model DSLNG.PEAR.Web.ViewModels.DerTransaction.DerValuesViewModel
<div class="col-md-12">
    <div class="col-md-6">
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <!--192-->
                <td><label class="control-label">Weekly Maintenance Backlog</label></td>
            </tr>
            <tr>
                <td><label class="control-label">as of</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 59, 183, "text date", "prev", "daily-actual", "remark", "datepicker")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">PM (hours)</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 60, 184, "hours", "prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">CM (hours)</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 61, 185, "hours", "prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">remark-target</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 59, 186, "hour", "prev", "daily-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">remarks</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 59, 187, "text", "nothing to concern", "daily-target", "remark")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Indicator</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayHighlightDropdownList(Model.Highlights, 60, new List<SelectListItem> {
                   new SelectListItem {Value = "-1", Text = "-1" },
                   new SelectListItem {Value = "0", Text = "0" },
                   new SelectListItem {Value = "1", Text = "1" }
               }, 188, "prev")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">Weekly Critical-Tier 1 PM Compliance/overdue</label></td>
            </tr>
            <tr>
                <td><label class="control-label">as of</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 374, 189, "text date", "prev", "daily-actual", "remark", "datepicker")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Rlv Valve</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 371, 190, "number", "prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">SIF</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 372, 191, "number", "prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Other</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 373, 192, "number", "prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Remark</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 374, 193, "text", "target is zero", "daily-target", "remark")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Indicator</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayHighlightDropdownList(Model.Highlights, 61, new List<SelectListItem> {
                   new SelectListItem {Value = "-1", Text = "-1" },
                   new SelectListItem {Value = "0", Text = "0" },
                   new SelectListItem {Value = "1", Text = "1" }
               }, 194, "prev")
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="margin-top: 30px;" class="col-md-12">
    <p style="color: white;">Key Equipment Status</p>
    <div class="col-md-4">
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">Feed Inlet Syst</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 46, new List<SelectListItem> {
                        new SelectListItem { Text = "Normal Ops", Value = "Normal Ops" },
                        new SelectListItem { Text = "Anomaly", Value = "Anomaly" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" },
                    }, 195)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">C3 Compr</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 34, new List<SelectListItem> {
                        new SelectListItem { Text = "Running", Value = "Running" },
                        new SelectListItem { Text = "Not Running", Value = "Not Running" },
                        new SelectListItem { Text = "Standby", Value = "Standby" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" },
                    }, 196)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">LP-MR Compr</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 35, new List<SelectListItem> {
                        new SelectListItem { Text = "Running", Value = "Running" },
                        new SelectListItem { Text = "Not Running", Value = "Not Running" },
                        new SelectListItem { Text = "Standby", Value = "Standby" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" },
                    }, 197)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">HP-MR Compr</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 36, new List<SelectListItem> {
                        new SelectListItem { Text = "Running", Value = "Running" },
                        new SelectListItem { Text = "Not Running", Value = "Not Running" },
                        new SelectListItem { Text = "Standby", Value = "Standby" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" },
                    }, 198)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">MCHE</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 37, new List<SelectListItem> {
                        new SelectListItem { Text = "Normal Ops", Value = "Normal Ops" },
                        new SelectListItem { Text = "Anomaly", Value = "Anomaly" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }
                        //,
                        //new SelectListItem { Value="Calm wave & Accessible",Text="Calm wave & Accessible" },
                        //new SelectListItem { Value="Slight wave & Accessible",Text="Slight wave & Accessible" },
                        //new SelectListItem { Value="Moderate wave and Caution",Text="Moderate wave and Caution" },
                        //new SelectListItem { Value="Rough wave & Closed Acces",Text="Rough wave & Closed Acces" }
                    }, 199)
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">EDG-A</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 31, new List<SelectListItem> {
                        new SelectListItem { Text = "Running", Value = "Running" },
                        new SelectListItem { Text = "Not Running", Value = "Not Running" },
                        new SelectListItem { Text = "Standby", Value = "Standby" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" },
                    }, 200)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">EDG-B</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 32, new List<SelectListItem> {
                        new SelectListItem { Text = "Running", Value = "Running" },
                        new SelectListItem { Text = "Not Running", Value = "Not Running" },
                        new SelectListItem { Text = "Standby", Value = "Standby" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" },
                    }, 201)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">EDG-C</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 33, new List<SelectListItem> {
                        new SelectListItem { Text = "Running", Value = "Running" },
                        new SelectListItem { Text = "Not Running", Value = "Not Running" },
                        new SelectListItem { Text = "Standby", Value = "Standby" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" },
                    }, 202)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">GTG-A</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 28, new List<SelectListItem> {
                        new SelectListItem { Text = "Running", Value = "Running" },
                        new SelectListItem { Text = "Not Running", Value = "Not Running" },
                        new SelectListItem { Text = "Standby", Value = "Standby" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" },
                    }, 203)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">GTG-B</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 29, new List<SelectListItem> {
                        new SelectListItem { Text = "Running", Value = "Running" },
                        new SelectListItem { Text = "Not Running", Value = "Not Running" },
                        new SelectListItem { Text = "Standby", Value = "Standby" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" },
                    }, 204)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">GTG-C</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 30, new List<SelectListItem> {
                        new SelectListItem { Text = "Running", Value = "Running" },
                        new SelectListItem { Text = "Not Running", Value = "Not Running" },
                        new SelectListItem { Text = "Standby", Value = "Standby" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" },
                    }, 205)
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">Hot Oil Syst</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 38, new List<SelectListItem> {
                        new SelectListItem { Text = "Normal Ops", Value = "Normal Ops" },
                        new SelectListItem { Text = "Anomaly", Value = "Anomaly" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }
                        //,
                        //new SelectListItem { Value="Calm wave & Accessible",Text="Calm wave & Accessible" },
                        //new SelectListItem { Value="Slight wave & Accessible",Text="Slight wave & Accessible" },
                        //new SelectListItem { Value="Moderate wave and Caution",Text="Moderate wave and Caution" },
                        //new SelectListItem { Value="Rough wave & Closed Acces",Text="Rough wave & Closed Acces" }
                    }, 206)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Fuel Gas syst</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 39, new List<SelectListItem> {
                        new SelectListItem { Text = "Normal Ops", Value = "Normal Ops" },
                        new SelectListItem { Text = "Anomaly", Value = "Anomaly" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }
                        //,
                        //new SelectListItem { Value="Calm wave & Accessible",Text="Calm wave & Accessible" },
                        //new SelectListItem { Value="Slight wave & Accessible",Text="Slight wave & Accessible" },
                        //new SelectListItem { Value="Moderate wave and Caution",Text="Moderate wave and Caution" },
                        //new SelectListItem { Value="Rough wave & Closed Acces",Text="Rough wave & Closed Acces" }
                    }, 207)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Water Syst</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 47, new List<SelectListItem> {
                        new SelectListItem { Text = "Normal Ops", Value = "Normal Ops" },
                        new SelectListItem { Text = "Anomaly", Value = "Anomaly" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }
                        //,
                        //new SelectListItem { Value="Calm wave & Accessible",Text="Calm wave & Accessible" },
                        //new SelectListItem { Value="Slight wave & Accessible",Text="Slight wave & Accessible" },
                        //new SelectListItem { Value="Moderate wave and Caution",Text="Moderate wave and Caution" },
                        //new SelectListItem { Value="Rough wave & Closed Acces",Text="Rough wave & Closed Acces" }
                    }, 208)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Air Compr A</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 40, new List<SelectListItem> {
                        new SelectListItem { Text = "Running", Value = "Running" },
                        new SelectListItem { Text = "Not Running", Value = "Not Running" },
                        new SelectListItem { Text = "Standby", Value = "Standby" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }//,
                    }, 209)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Air Compr B</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 41, new List<SelectListItem> {
                        new SelectListItem { Text = "Running", Value = "Running" },
                        new SelectListItem { Text = "Not Running", Value = "Not Running" },
                        new SelectListItem { Text = "Standby", Value = "Standby" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }//,
                    }, 210)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Air Compr C</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 42, new List<SelectListItem> {
                        new SelectListItem { Text = "Running", Value = "Running" },
                        new SelectListItem { Text = "Not Running", Value = "Not Running" },
                        new SelectListItem { Text = "Standby", Value = "Standby" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }//,
                    }, 211)
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="margin-top: 30px;" class="col-md-12">
    <div class="col-md-4">
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">N2 Syst</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 43, new List<SelectListItem> {
                        new SelectListItem { Text = "Normal Ops", Value = "Normal Ops" },
                        new SelectListItem { Text = "Anomaly", Value = "Anomaly" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }
                        //,
                        //new SelectListItem { Value="Calm wave & Accessible",Text="Calm wave & Accessible" },
                        //new SelectListItem { Value="Slight wave & Accessible",Text="Slight wave & Accessible" },
                        //new SelectListItem { Value="Moderate wave and Caution",Text="Moderate wave and Caution" },
                        //new SelectListItem { Value="Rough wave & Closed Acces",Text="Rough wave & Closed Acces" }
                    }, 212)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Fire Syst</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 48, new List<SelectListItem> {
                        new SelectListItem { Text = "Normal Ops", Value = "Normal Ops" },
                        new SelectListItem { Text = "Anomaly", Value = "Anomaly" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }
                    }, 213)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">LNG Tank</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 77, new List<SelectListItem> {
                        new SelectListItem { Text = "Normal Ops", Value = "Normal Ops" },
                        new SelectListItem { Text = "Anomaly", Value = "Anomaly" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }//,
                    }, 214)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">BOG Compr</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 44, new List<SelectListItem> {
                        new SelectListItem { Text = "Running", Value = "Running" },
                        new SelectListItem { Text = "Not Running", Value = "Not Running" },
                        new SelectListItem { Text = "Standby", Value = "Standby" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }//,
                    }, 215)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">LNG Jetty</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 45, new List<SelectListItem> {
                        new SelectListItem { Text = "Normal Ops", Value = "Normal Ops" },
                        new SelectListItem { Text = "Anomaly", Value = "Anomaly" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }
                        //,
                        //new SelectListItem { Value="Calm wave & Accessible",Text="Calm wave & Accessible" },
                        //new SelectListItem { Value="Slight wave & Accessible",Text="Slight wave & Accessible" },
                        //new SelectListItem { Value="Moderate wave and Caution",Text="Moderate wave and Caution" },
                        //new SelectListItem { Value="Rough wave & Closed Acces",Text="Rough wave & Closed Acces" }
                    }, 216)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">C2/C3 strg tank</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 49, new List<SelectListItem> {
                        new SelectListItem { Text = "Normal Ops", Value = "Normal Ops" },
                        new SelectListItem { Text = "Anomaly", Value = "Anomaly" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }
                    }, 217)
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">CDS tank</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 78, new List<SelectListItem> {
                        new SelectListItem { Text = "Normal Ops", Value = "Normal Ops" },
                        new SelectListItem { Text = "Anomaly", Value = "Anomaly" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }
                    }, 218)
                </td>
            </tr>
            <tr>    
                <td><label class="control-label">Diesel Oil tank</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 79, new List<SelectListItem> {
                        new SelectListItem { Text = "Normal Ops", Value = "Normal Ops" },
                        new SelectListItem { Text = "Anomaly", Value = "Anomaly" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }
                    }, 219)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Flare Syst</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 50, new List<SelectListItem> {
                        new SelectListItem { Text = "Normal Ops", Value = "Normal Ops" },
                        new SelectListItem { Text = "Anomaly", Value = "Anomaly" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }
                    }, 220)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Waste Syst</label></td>
                <td>
                    @Html.DisplayHighlightDropdownList(Model.Highlights, 51, new List<SelectListItem> {
                        new SelectListItem { Text = "Normal Ops", Value = "Normal Ops" },
                        new SelectListItem { Text = "Anomaly", Value = "Anomaly" },
                        new SelectListItem { Text = "Tripped", Value = "Tripped" },
                        new SelectListItem { Text = "Not Available", Value = "Not Available" }
                    }, 221)
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-6">
        <table border="0">
            <tr>
                <td><label class="control-label">Maintenance Highlight & Immediate Concern:</label></td>
            </tr>
            <tr>
                <!--229-->
                <td>
                    @Html.DisplayHighlightTextarea(Model.Highlights, 11, 222)
                </td>
            </tr>
        </table>
    </div>
</div>
