@{
    Layout = null;
}
@model DSLNG.PEAR.Web.ViewModels.DerTransaction.DerValuesViewModel
<div class="col-md-12">
    <div class="col-md-4">
        <div class="col-md-6">
            <!--161-->
            <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                <tr>
                    <td><label class="control-label">Next Loading Schedule</label></td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option>Select Option</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option>Select Option</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option>Select Option</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option>Select Option</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                <tr>
                    <td><label class="control-label">Vessel (capacity)</label></td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option>Select Option</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option>Select Option</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option>Select Option</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option>Select Option</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-6">
            <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                <tr>
                    <td><label class="control-label">ETA</label></td>
                </tr>
                <tr>
                    <td>
                        <input type="date" class="" placeholder="text date" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="date" class="" placeholder="text date" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="date" class="" placeholder="text date" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="date" class="" placeholder="text date" required />
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                <tr>
                    <td><label class="control-label">ETD</label></td>
                </tr>
                <tr>
                    <td>
                        <input type="date" class="" placeholder="text date" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="date" class="" placeholder="text date" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="date" class="" placeholder="text date" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="date" class="" placeholder="text date" required />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-6">
            <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                <tr>
                    <td><label class="control-label">Cargo#</label></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="" placeholder="free text" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="" placeholder="free text" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="" placeholder="free text" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="" placeholder="free text" required />
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                <tr>
                    <td><label class="control-label">Remarks</label></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="" placeholder="free text" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="" placeholder="free text" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="" placeholder="free text" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="" placeholder="free text" required />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-3">
        <label class="control-label">Loading Duration</label>
        <!--185-->
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">Standard</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 375, 185, "hh:mm", "34","yearly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Last</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 375, 186, "hh:mm", "prev" )
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">AVG YTD</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 376, 187, "hh:mm", "prev")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        <label class="control-label">Ttl Terminal Time</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">Standard</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 377, 188, "hh:mm", "34", "yearly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Last</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 377, 189, "hh:mm", "prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">AVG YTD</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 378, 190, "hh:mm", "prev")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table border="0">
            <tr>
                <td><label class="control-label">Marine, Shipping, Cargo Delivery Highlight</label></td>
            </tr>
            <tr>
                <td>
                    <!--191-->
                    <textarea class="form-control allow-html"></textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
