@{
    Layout = null;
}
@model DSLNG.PEAR.Web.ViewModels.DerTransaction.DerValuesViewModel

<div class="col-md-12">
    <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
        <tr>
            <td><label class="control-label">Plant Performance Corp KPI Target-Annual</label></td>
        </tr>
    </table>
</div>
<div class="col-md-12">
    @*@{
        var layoutItem = Model.DerLayoutItems.First(x => x.Row == 6 && x.Column == 2);
        var layoutItem2 = Model.DerLayoutItems.First(x => x.Row == 5 && x.Column == 2);
    }*@
    <div class="col-md-6">
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">PAV</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 10,  37, "%","empty","yearly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">PTE</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 9, 38, "%", "empty", "yearly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Refrigerant Storage (C2 & C3)</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 194, 39, "ton")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">USM Feed Gas Pressure</label></td>
                <td>
                    <span class="col-sm-8">
                       @Html.DisplayKpiInformationInput(Model.KpiInformations, 100, 40, "psig")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">USM Feed Gas Temp</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 99, 41, "oC")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">MTB</label></td>
                <td>
                    <span class="col-sm-8">
                       @Html.DisplayKpiInformationInput(Model.KpiInformations, 53, 42, "%", "prev", "yearly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">PUT</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 12, 43, "%", "prev","yearly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">MCHE Rundown</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 176, 44, "ton/d")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">min HHV JOB PMTS</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 169,  45, "btu/scf","1111")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">min HHV MGDP</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 174, 46, "btu/scf","1050")
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <table border="0">
        <tr>
            <!--47-->
            <td><label class="control-label">Process Anomaly Highlight</label></td>
        </tr>
        <tr>
            <td>
                <textarea class="form-control allow-html"></textarea>
            </td>
        </tr>
    </table>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-3">
        <label class="control-label">Feed Gas USM</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 38, 48, "mmscfd")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 40, 49, "tonnes")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 41, 50, "btu/scf")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 39, 51, "mmbtud")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
         @*@{
            var pmtsLayout = Model.DerLayoutItems.First(x => x.Row == 5 && x.Column == 0);
        }*@
        <label class="control-label">Feed Gas JOB PMTS-CPP</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 165,  52, "mmscfd")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                         @Html.DisplayKpiInformationInput(Model.KpiInformations, 168,  53, "tonnes")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                         @Html.DisplayKpiInformationInput(Model.KpiInformations, 169,  54, "btu/scf")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                         @Html.DisplayKpiInformationInput(Model.KpiInformations, 166,  55, "mmbtud")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        @*@{
            var mgdpLayout = Model.DerLayoutItems.First(x => x.Row == 5 && x.Column == 1);
        }*@
        <label class="control-label">Feed Gas MGDP-Donggi CPP</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 170, 56, "mmscfd")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 173, 57, "tonnes")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 174, 58, "btu/scf")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 171, 59, "mmbtud")
                    </span>
                </td>
            </tr>

        </table>
    </div>
    <div class="col-md-3">
        <label class="control-label">Feed Gas MGDP-Matindok CPP</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 398, 60, "mmscfd")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 401, 61, "tonnes")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 402, 62, "btu/scf")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 399, 63, "mmbtud")
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-4">
        <label class="control-label">Commitments JOB PMTS</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">DCQ</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 166, 64, "mmbtu", "prev","daily-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">MGN</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 166, 65, "bbtu", "prev", "monthly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">ADP</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 166, 66, "Tbtu", "prev", "yearly-target")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <label class="control-label">Commitments MGDP</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">DCQ</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 171, 67, "mmbtu", "prev", "daily-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">MGN</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 171, 68, "bbtu", "prev", "monthly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">ADP</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 171, 69, "Tbtu", "prev", "yearly-target")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <label class="control-label">Plant Utilization daily code</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationList(Model.KpiInformations, 11, 69, new List<SelectListItem>() {
                        new SelectListItem { Value = "Normal/Other", Text="Normal/Other" },
                        new SelectListItem { Value = "Unplanned",  Text="Unplanned"},
                        new SelectListItem {Value = "Planned SD", Text="Planned SD" }
                   },"prev")
                    </span>
                </td>
            </tr>
        </table>
        <label class="control-label">Plant Availability (24H)</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 11, 70, "hours")
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-4">
        <label class="control-label">Feed Gas Impurities</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">H2S</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 101, 71, "ppm")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">CO2</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 102, 72, "ppm")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">H2O</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 175, 73, "ppm")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Dew Point</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 110, 74, "oF")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Ttl Sulphur</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 103, 75, "ppm")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">BTX</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 105, 76, "ppm")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">MRU-Outlet Hg</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 104, 78, "ng/Nm3")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        @*@{
            var productionLayout = Model.DerLayoutItems.First(x => x.Row == 7 && x.Column == 0);
        }*@
        <label class="control-label">Product Quality</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">CDS-RVP</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 78, 79, "psia")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">LNG HHV</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 42, 80, "btu/scf")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">LNG-C1</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 91, 81, "mol%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">LNG-C2</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 92, 82, "mol%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">LNG-C3</label></td>
                <td>
                    <span class="col-sm-8">
                       @Html.DisplayKpiInformationInput(Model.KpiInformations, 93, 83, "mol%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">LNG-iC4</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 94, 84, "mol%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">LNG-nC4</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 95, 85, "mol%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">LNG-C5+</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 96, 86, "mol%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">N2</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 97, 87, "mol%")
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-3">
        <label class="control-label">Enviro Quality-C3 Compr</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">NO2</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 251, 88, "mg/Nm3")
                    </span>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td><label class="control-label">SO2</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 252, 89, "mg/Nm3")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">CO</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 253, 90, "mg/Nm3")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">CO2</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 254, 91, "mol%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">O2</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 255, 92, "mol%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Opacity</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 256, 93, "%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Particulate</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 257, 94, "mg/Nm3")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        <label class="control-label">Enviro Quality-LP MR Compr</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">NO2</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 258, 95, "mg/Nm3")
                    </span>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td><label class="control-label">SO2</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 259, 96, "mg/Nm3")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">CO</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 260, 97, "mg/Nm3")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">CO2</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 261, 98, "mol%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">O2</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 262, 99, "mol%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Opacity</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 263, 100, "%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Particulate</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 264, 101, "mg/Nm3")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        <label class="control-label">Enviro Quality-HP MR Compr</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">NO2</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 265, 102, "mg/Nm3")
                    </span>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td><label class="control-label">SO2</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 266, 103, "mg/Nm3")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">CO</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 267, 104, "mg/Nm3")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">CO2</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 268, 105, "mol%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">O2</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 269, 106, "mol%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Opacity</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 270, 107, "%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Particulate</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 271, 108, "mg/Nm3")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        <label class="control-label">Enviro Quality-HP MR Compr</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">Wet Flare</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 404, 108, "Nm3/h")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Dry Flare</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 405, 109, "Nm3/h")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Tankage Flare</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 406, 110, "Nm3/h")
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-6">
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">Corrugated Plate Interceptor</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 403, 112, "m3/h")
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-4">
        <label class="control-label">Inventory-LNG Tank</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">Level</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 58, 113, "%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Vol</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 57, 114, "m3")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Vol</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 56, 115, "ton")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Vol</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 368, 111, "mmbtu")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Days To Tank Top</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 70, 116, "Days")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <label class="control-label">Inventory-CDS Loading Tank</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">Level</label></td>
                <td>
                    <span class="col-sm-8">
                        @*@Html.DisplayKpiInformationInput(Model.KpiInformations, 58, 117, "%")*@
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Vol</label></td>
                <td>
                    <span class="col-sm-8">
                        @*@Html.DisplayKpiInformationInput(Model.KpiInformations, 57, 118, "m3")*@
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Vol</label></td>
                <td>
                    <span class="col-sm-8">
                        @*@Html.DisplayKpiInformationInput(Model.KpiInformations, 56, 119, "ton")*@
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Vol</label></td>
                <td>
                    <span class="col-sm-8">
                        @*@Html.DisplayKpiInformationInput(Model.KpiInformations, 369, 120, "mmbtu")*@
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Days To Tank Top</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 70, 121, "Days")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <label class="control-label">Inventory-CDS Buffer Tank</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">Level</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 360, 122, "%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Vol</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 361, 123, "m3")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Vol</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 362, 124, "ton")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Vol</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 363, 125, "mmbtu")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Days To Tank Top</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 364, 126, "Days")
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-4">
        <label class="control-label">Inventory-CDS Day Tank</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">Level</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 87, 127, "%")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Vol</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 86, 128, "m3")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Vol</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 85, 129, "ton")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Vol</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 370, 130, "mmbtu")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <label class="control-label">Ambient Temp</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">Hi</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 185, 131, "oC")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Low</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 184, 132, "oC")
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-4">
        <label class="control-label">LNG Production</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 43, 133, "m3")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 5, 134, "ton")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                         @Html.DisplayKpiInformationInput(Model.KpiInformations, 6, 135, "mmbtu")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <label class="control-label">CDS Production</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 45, 136, "m3")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 46, 137, "ton")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 47, 138, "mmbtu")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <label class="control-label">Fuel Gas</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 49, 139 , "m3")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 50, 140, "ton")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 48, 141, "mmbtu")
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-4">
         @*@{
            var lngLoadedLayout = Model.DerLayoutItems.First(x => x.Row == 7 && x.Column == 1);
        }*@
        <label class="control-label">LNG Loaded</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 71, 142, "m3")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 72, 143, "ton")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 73, 144, "mmbtu")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <label class="control-label">LNG Planned Cargo</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">ADP</label></td>
                <td>
                    <span class="col-sm-8">
                        <input type="text" class="form-control" id="text" placeholder="free text" />
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">MDP</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 77, 146, "free-text","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">YTD</label></td>
                <td>
                    <span class="col-sm-8">
                        <input type="text" class="form-control" id="text" placeholder="free text" />
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <label class="control-label">LNG Loaded Remark</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td>
                    <select>
                        <option>Select Option</option>
                        <option>Option 1</option>
                        <option>Option 2</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <select>
                        <option>Select Option</option>
                        <option>Option 1</option>
                        <option>Option 2</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-4">
        <label class="control-label">CDS Loaded</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
             <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                         @Html.DisplayKpiInformationInput(Model.KpiInformations, 74, 150, "m3")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 75, 151, "ton")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 76, 152, "mbtu")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <label class="control-label">CDS Cargo shipped</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">MDP</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 82, 153, "cargo")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">YTD</label></td>
                <td>
                    <span class="col-sm-8">
                        <input type="text" class="form-control" id="text" placeholder="free text" />
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <label class="control-label">CDS Loaded-Note</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">CDS Loaded-Note</label></td>
                <td>
                    <span class="col-sm-8">
                        <!-- remark -->
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 82, 155, "cargo")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">CDS Loaded-Remark</label></td>
                <td>
                    <span class="col-sm-8">
                        <!-- remark -->
                       @Html.DisplayKpiInformationInput(Model.KpiInformations, 76, 156, "bbl")
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-4">
        <label class="control-label">Flared Gas</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 7, 157, "Nm3")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 8, 158, "mmscf")  
                    </span>
                </td>
            </tr>

        </table>
    </div>
    <div class="col-md-4">
        <label class="control-label">Plant Mode</label>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td>
                    <span class="col-sm-8">
                        <select>
                            <option>Select Option</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>
                    </span>
                </td>
            </tr>
        </table>
    </div>

</div>

<div class="col-md-12" style="margin-top: 30px;">
    <table border="0">
        <tr>
            <td><label class="control-label">Operation Highlight</label></td>
        </tr>
        <tr>
            <td>
                <!--160-->
                <textarea class="form-control allow-html"></textarea>
            </td>
        </tr>
    </table>
</div>
