@model DSLNG.PEAR.Web.ViewModels.Select.UpdateSelectViewModel
@{
    ViewBag.Title = "Create New Select";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_MessageResponse")
<div class="row">
    <div class="col-md-5">
        <form action="@Url.Action("Update")" method="POST">
            @Html.HiddenFor(x => x.Id)
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                @Html.EditorFor(model => model.IsActive, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
            @Html.Partial("_OptionForm", Model.Options)
            <button type="submit" class="btn btn-default">Submit</button>
            <a href="@Url.Action("Index")" class="btn btn-default">Cancel</a>

        </form>
    </div>
</div>







