@{
    ViewBag.Title = "Input Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Input Data</h2>
@Html.Partial("_MessageResponse")
<div class="add-button-wrapper">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</div>

@*@Html.Action("IndexPartial")*@
<table id="input-data-table" class="table-transparent table table-bordered table-responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Category</th>
            <th>Period</th>
            <th>Accountability</th>
            <th>Last Input</th>
            <th>Action</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#input-data-table').DataTable({
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "iDisplayLength": -1,
                "bProcessing": true,
                "bServerSide": true,
                "sServerMethod": "POST",
                "sAjaxSource": '@Url.Action("Grid", "InputData")',
                "order": [[1, "asc"]],
                "aoColumns": [
                    { "mDataProp": "Name", "name": "Name", "className": "text-align-left" },
                    { "mDataProp": "PeriodeType", "name": "PeriodeType", "className": "text-align-left" },
                    {
                        "mDataProp": "Accountability", "name": "Accountability", "className": "text-align-left"
                    },
                    { "mDataProp": "LastInput", "name": "LastInput", "className": "text-align-left" },
                    //{ "mDataProp": "Order", "name": "Order" },                    
                    {
                        "orderable": false,
                        "data": null,
                        "defaultContent": '',
                        "mRender": function (data, type, row) {
                            var deleteLink = '<a class="delete" data-id="_id_" href="javascript:;">Delete</a>'.replace('_id_', data.Id);
                            var editLink = '@Html.ActionLink("Edit", "Update", "Kpi", new { id = "_id_" }, null)'.replace('_id_', data.Id);
                            return editLink + ' | ' + deleteLink;
                        }
                    }
                ],
                rowCallback: function (row, data) {
                    // Set the checked state of the checkbox in the table
                    //$('input.is-active', row).prop('checked', data.IsActive == 1);
                    //$('input.is-economic', row).prop('checked', data.IsEconomic == 1);
                }
            });

            @*$('#kpi-table').on('click', '.delete', function () {
                var id = $(this).attr('data-id');
                if (confirm('Are you sure want to delete this item?' + id)) {
                    var url = '@Url.Action("Delete", "Kpi")';
                    var form = $('<form />');
                    form.attr('action', url);
                    form.attr('method', 'POST');
                    form.html('<input type="hidden" name="id" value="' + id + '" />');
                    $('body').append(form);
                    form.submit();
                }
            });*@


        });
    </script>
}