@{
    ViewBag.Title = "Vessel Schedule List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="artifact-list">
    <div class="row">
        <div class="col-md-12">
            <div class="title">Vessel Schedule</div>
            <div class="description_year">New</div>
            <div>@Html.ValidationSummary(true)</div>
        </div>
        <div class="col-md-12">
            @Html.Partial("_MessageResponse")
            @Html.ActionLink("Create New", "Create")
            @Html.Action("IndexPartial")
        </div>
        @section Scripts{
            <script type="text/javascript">
                var confirmDelete = function (id) {
                    if (confirm('Are you sure want to delete this item?')) {
                        var url = '@Url.Action("Delete", "VesselSchedule")';
                    $('<form action="' + url + '" method="POST">' +
                        '<input type="hidden" name="id" value="' + id + '">' +
                        '</form>').submit();
                }
            };
            </script>
        }
    </div>
</div>
