@{
    ViewBag.Title = "Artifact List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="artifact-list">
    <h2>List</h2>
    @Html.Partial("_MessageResponse")
    <div class="add-button-wrapper">
        @Html.ActionLink("Create New", "Designer")
    </div>
    @*@Html.Action("IndexPartial")*@
    
    <table id="artifact-table" class="table-transparent table table-bordered table-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('#artifact-table').DataTable({
                    "bProcessing": true,
                    "bServerSide": true,
                    "sServerMethod": "POST",
                    "sAjaxSource": '@Url.Action("Grid", "Artifact")',
                    "order": [[1, "asc"]],
                    "aoColumns": [
                        { "mDataProp": "GraphicName", "name": "Name" },
                        { "mDataProp": "GraphicType", "name": "Order" },
                        {
                            "orderable": false,
                            "data": null,
                            "defaultContent": '',
                            "mRender": function(data, type, row) {
                                var viewLink = '@Html.ActionLink("View", "View", new { Id = "_id_" }, new { @class="artifact-view" })'.replace('_id_', data.Id);
                                var editLink = '@Html.ActionLink("Edit", "Edit", "Artifact", new { id = "_id_" }, null)'.replace('_id_', data.Id);
                                return editLink + ' | ' + viewLink;
                            }
                        }
                    ]
                });
            });
        </script>
    }


    <!-- Modal -->
    <div class="modal fade" id="graphic-preview" tabindex="-1" role="dialog" aria-labelledby="graphicPreview" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Artifact Preview</h4>
                </div>
                <div class="modal-body">
                    <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>

</div>
