@{
    ViewBag.Title = "Planning Blueprints Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Planning Blueprints Approval</h2>
@Html.Partial("_MessageResponse")

<table id="planningBlueprints-table" class="table-transparent table table-bordered table-responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Voyage Plan</th>
            <th>Voyage Plan Notes</th>
            <th>Midterm Phase Strategy</th>
             <th>Midterm Phase Strategy Notes</th>
            <th>Is Active</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#planningBlueprints-table').DataTable({
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "iDisplayLength": -1,
                "bProcessing": true,
                "bServerSide": true,
                "sServerMethod": "POST",
                @* "ajax": {
                    "url": '@Url.Action("Grid", "PlanningBlueprint")',
                    //"data": function ( d ) {
                    //    d.Filter = "Approved";
                    //    // d.custom = $('#myInput').val();
                    //    // etc
                    //}
                },*@
                "sAjaxSource": '@Url.Action("Grid", "PlanningBlueprint")',
                "order": [[1, "asc"]],
                "aoColumns": [
                    { "mDataProp": "Title", "name": "Title", "className": "dt-body-left" },
                    { "mDataProp": "Description", "name": "Description", "className": "dt-body-left" },
                    {
                        "orderable": false,
                        "data": null,
                        "defaultContent": '',
                        "mRender": function (data, type, row) {
                            if (row.BusinessPostureIdentification.IsBeingReviewed) {
                                return '@Html.ActionLink("Review", "ESReview", "PlanningBlueprint", new {id = "_id_"}, null)'.replace('_id_', row.BusinessPostureIdentification.Id);
                            } else if (row.BusinessPostureIdentification.IsRejected) {
                                return "Rejected";
                            } else if (row.BusinessPostureIdentification.IsApproved) {
                                return "Approved";
                            }else{
                                return "On Progress";
                            }
                        }
                    },
                    {
                        "orderable": false,
                        "data": null,
                        "defaultContent": '',
                        "mRender": function (data, type, row) {
                            return row.BusinessPostureIdentification.Notes;
                        }
                    },
                     {
                         "orderable": false,
                         "data": null,
                         "defaultContent": '',
                         "mRender": function (data, type, row) {
                             if (row.MidtermStragetyPlanning.IsBeingReviewed) {
                                 return '@Html.ActionLink("Review", "MPFReview", "PlanningBlueprint", new {id = "_id_"}, null)'.replace('_id_', row.MidtermStragetyPlanning.Id);
                             } else if (row.MidtermStragetyPlanning.IsRejected) {
                                 return "Rejected";
                             }
                             else if (row.MidtermStragetyPlanning.IsApproved) {
                                 return "Approved";
                             }else{
                                return 'On Progress';
                             }
                          }
                     },
                      {
                          "orderable": false,
                          "data": null,
                          "defaultContent": '',
                          "mRender": function (data, type, row) {
                              return row.MidtermStragetyPlanning.Notes;
                          }
                      },
                    {
                        "mDataProp": "IsActive", "name": "IsActive", "render": function (data, type, row) {
                            var checked = '';
                            if (data) {
                                checked = 'checked="checked"';
                            }
                            return '<input type="checkbox" class="editor-active" ' + checked + ' disabled="disabled">';
                        },
                    }
                ],
                rowCallback: function (row, data) {
                    // Set the checked state of the checkbox in the table
                    //$('input.is-active', row).prop('checked', data.IsActive == 1);
                }
            });

            $('#planningBlueprints-table').on('click', '.delete', function () {
                var id = $(this).attr('data-id');
                if (confirm('Are you sure want to delete this item?' + id)) {
                    var url = '@Url.Action("Delete", "PlanningBlueprint")';
                    var form = $('<form />');
                    form.attr('action', url);
                    form.attr('method', 'POST');
                    form.html('<input type="hidden" name="id" value="' + id + '" />');
                    $('body').append(form);
                    form.submit();
                }
            });


        });
    </script>
}