@model DSLNG.PEAR.Web.ViewModels.PlanningBlueprint.BusinessPostureViewModel
@using DSLNG.PEAR.Data.Enums
@{
    ViewBag.Title = "BusinessPostureIdentification";
}

@* Environtments Scanning *@
<div class="col-md-12 environment-scanning">
    <div class="row row-uo border-style-1">
        <h4>Ultimate Objective</h4>
    </div>
    <div class="row row-margin-5 color-white">
        <div class="div-envi col-md-4 border-style-1">
            <div class="col-md-4-child">
                <span><b>Ultimate Objective (Construction Phase)</b></span>
            </div>
            <div>
                <ul class="cp-list">
                    @foreach (var item in Model.EnvironmentScanningHost.ConstructionPhase)
                    {
                        <li>@item.Description</li>
                    }
                </ul>
                @Html.HiddenFor(model => model.Id)
            </div>
        </div>
        <div class="div-envi col-md-4 border-style-1">
            <div class="col-md-4-child">
                <span><b>Ultimate Objective (Operation Phase)</b></span>
            </div>
            <div>
                <ul class="op-list">
                    @foreach (var item in Model.EnvironmentScanningHost.OperationPhase)
                    {
                        <li>@item.Description </li>
                    }
                </ul>
                @Html.HiddenFor(model => model.Id)
            </div>
        </div>
        <div class="div-envi col-md-4 border-style-1">
            <div class="col-md-4-child">
                <span><b>Ultimate Objective (Decomm.Re-Invent Phase)</b></span>
            </div>
            <div>
                <ul class="rp-list">
                    @foreach (var item in Model.EnvironmentScanningHost.ReinventPhase)
                    {
                        <li>@item.Description</li>

                    }
                </ul>
                @Html.HiddenFor(model => model.Id)
            </div>
        </div>
    </div>



    <div class="row row-constraint margin-style-1 border-style-1" style="background-color: #cc0000">
        <h6>Constraint</h6>
    </div>
    <div class="row row-margin-5 row-table-constrain">
        <table class="table table-constraint border-style-1">
            <tr>
                <td class="td-definition"><b>Definiton</b> </td>
                <td class="td-entity"><b>Type</b></td>
                <td class="td-entity"><b>Category</b></td>
            </tr>
            @{foreach (var item in Model.EnvironmentScanningHost.Constraints)
            {
                <tr>
                    <td class="td-definition">@item.Definition</td>
                    <td class="td-entity">@item.Type</td>
                    <td class="td-entity">@item.Category</td>
                </tr>
            }

            }

        </table>
    </div>



    <div class="row row-challenges margin-style-1 border-style-1" style="background-color: #ffcc00">
        <h6>Challenges</h6>
    </div>
    <div class="row row-margin-5 row-table-constrain">
        <table class="table table-challenge border-style-1">
            <tr>

                <td class="td-definition"><b>Definiton</b> </td>
                <td class="td-entity"><b>Type</b></td>
                <td class="td-entity"><b>Category</b></td>
            </tr>
            @{foreach (var item in Model.EnvironmentScanningHost.Challenges)
            {
                <tr>
                    <td class="td-definition">@item.Definition </td>
                    <td class="td-entity">@item.Type</td>
                    <td class="td-entity">@item.Category</td>
                </tr>
            }

            }
        </table>
    </div>
</div>


@* Business Posture *@

<div class="business-posture">
    <h2>Business Posture Identification</h2>

    <div class="row">
        <div class="col-md-12 row-header">
            <h4 style="background-color: #00bfff;">Business Posture Identification</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 list-block">
            <h4 style="background-color: #009933">Construction Posture</h4>
            <div class="sub-group">
                <h6 style="background-color: #336600">Desired States</h6>
                @if(!Model.IsReviewer){
                <a href="#" data-toggle="popover" data-title="Add Desired State" data-posture-id="@Model.ConstructionPosture.Id" data-form-target="desired-state" class="popover-trigger"><i class="fa fa-plus"></i></a>
                }
            </div>
            <ul class="list-result construction-desired-list">
                @foreach (var item in Model.ConstructionPosture.DesiredStates)
                {
                    <li data-id="@item.Id">@item.Description   @if(!Model.IsReviewer){<a href="/BusinessPosture/DeleteDesiredState" class="remove-item"><i class="fa fa-minus"></i></a>}</li>
                }
            </ul>
        </div>
        <div class="col-md-4 list-block">
            <h4 style="background-color: #009933">Operation Posture</h4>
            <div class="sub-group">
                <h6 style="background-color: #336600">Desired States</h6>
                  @if(!Model.IsReviewer){<a href="#" data-toggle="popover" data-title="Add Desired State" data-posture-id="@Model.OperationPosture.Id" data-form-target="desired-state" class="popover-trigger"><i class="fa fa-plus"></i></a>
                  }
            </div>
            <ul class="list-result operation-desired-list">
                @foreach (var item in Model.OperationPosture.DesiredStates)
                {
                    <li data-id="@item.Id">@item.Description @if(!Model.IsReviewer){<a href="/BusinessPosture/DeleteDesiredState" class="remove-item"><i class="fa fa-minus"></i></a>}</li>
                }
            </ul>
        </div>
        <div class="col-md-4 list-block">
            <h4 style="background-color: #009933">Decommisssioning Posture</h4>
            <div class="sub-group">
                <h6 style="background-color: #336600">Desired States</h6>
                @if(!Model.IsReviewer){
                <a href="#" data-toggle="popover" data-title="Add Desired State" data-posture-id="@Model.DecommissioningPosture.Id" data-form-target="desired-state" class="popover-trigger"><i class="fa fa-plus"></i></a>
                }
            </div>
            <ul class="list-result decommissioning-desired-list">
                @foreach (var item in Model.DecommissioningPosture.DesiredStates)
                {
                    <li data-id="@item.Id">@item.Description @if(!Model.IsReviewer){<a href="/BusinessPosture/DeleteDesiredState" class="remove-item"><i class="fa fa-minus"></i></a>}</li>
                }
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 list-block">
            <div>
                <div class="sub-group">
                    <h6 style="background-color: #e6e600">Posture Challenge</h6>
                    @if(!Model.IsReviewer){
                    <a href="#" data-toggle="popover" data-posture-type="construction" data-title="Add Desired State" data-posture="PostureChallenge" data-posture-id="@Model.ConstructionPosture.Id" data-form-target="posture-challenge" class="popover-trigger"><i class="fa fa-plus"></i></a>
                    }
                </div>
            </div>
            <table class=" table list-result">
                <tr>
                    <th style="width:70px;">Relation</th>
                    <th style="width:320px">Definition</th>
                    @if(!Model.IsReviewer){
                    <th style="width:30px;"></th>
                    }
                </tr>
                @foreach (var item in Model.ConstructionPosture.PostureChallenges)
                {
                    <tr>
                        <td>
                            <a href="#" data-id="@item.Id" data-toggle="modal" data-ids="@item.RelationIdsString" data-type="construction" data-target="#posture-modal" class="btn-posture-challenge">
                                @if (item.HasRelation == true)
                                {
                                    <span>R</span>
                                }
                            </a>

                        </td>
                        <td>@item.Definition </td>
                        @if(!Model.IsReviewer){
                        <td data-id="@item.Id"><a href="/BusinessPosture/DeletePostureChallenge" class="remove-item"><i class="fa fa-minus"></i></a></td>
                        }
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-4 list-block">
            <div>
                <div class="sub-group">
                    <h6 style="background-color: #e6e600">Posture Challenge</h6>
                    @if(!Model.IsReviewer){
                    <a href="#" data-toggle="popover" data-posture-type="operation" data-title="Add Desired State" data-posture="PostureChallenge" data-posture-id="@Model.OperationPosture.Id" data-form-target="posture-challenge" class="popover-trigger"><i class="fa fa-plus"></i></a>
                    }
                </div>
            </div>
            <table class="table list-result">
                <tr>
                    <th style="width:70px;">Relation</th>
                    <th style="width:320px">Definition</th>
                    @if(!Model.IsReviewer){
                    <th style="width:30px;"></th>
                    }
                </tr>
                @foreach (var item in Model.OperationPosture.PostureChallenges)
                {
                    <tr>
                        <td>
                            <a href="#" data-id="@item.Id" data-toggle="modal" data-target="#posture-modal" data-ids="@item.RelationIdsString" data-type="operation" class="btn-posture-challenge">
                                @if (item.HasRelation == true)
                                {
                                    <span>R</span>
                                }
                            </a>
                        </td>
                        <td>@item.Definition </td>
                        @if(!Model.IsReviewer){
                        <td data-id="@item.Id"><a href="/BusinessPosture/DeletePostureChallenge" class="remove-item"><i class="fa fa-minus"></i></a></td>
                        }
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-4 list-block">
            <div>
                <div class="sub-group">
                    <h6 style="background-color: #e6e600">Posture Challenge</h6>
                    @if(!Model.IsReviewer){
                    <a href="#" data-toggle="popover" data-posture-type="decommissioning" data-title="Add Desired State" data-posture="PostureChallenge" data-posture-id="@Model.DecommissioningPosture.Id" data-form-target="posture-challenge" class="popover-trigger"><i class="fa fa-plus"></i></a>
                    }
                </div>
            </div>
            <table class="table list-result">
                <tr>
                    <th style="width:70px;">Relation</th>
                    <th style="width:320px">Definition</th>
                    @if(!Model.IsReviewer){
                    <th style="width:30px;"></th>
                    }
                </tr>
                @foreach (var item in Model.DecommissioningPosture.PostureChallenges)
                {
                    <tr>
                        <td>
                            <a href="#" data-id="@item.Id" data-toggle="modal" data-target="#posture-modal" data-ids="@item.RelationIdsString" data-type="decommissioning" class="btn-posture-challenge">
                                @if (item.HasRelation == true)
                                {
                                    <span>R</span>
                                }
                            </a>
                        </td>
                        <td>@item.Definition </td>
                        @if(!Model.IsReviewer){
                        <td data-id="@item.Id"><a href="/BusinessPosture/DeletePostureChallenge" class="remove-item"><i class="fa fa-minus"></i></a></td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 list-block">
            <div>
                <div class="sub-group">
                    <h6 style="background-color: #ff0000">Posture Constraint</h6>
                    @if(!Model.IsReviewer){
                    <a href="#" data-toggle="popover" data-posture-type="construction" data-title="Add Desired State" data-posture="PostureConstraint" data-posture-id="@Model.ConstructionPosture.Id" data-form-target="posture-constraint" class="popover-trigger"><i class="fa fa-plus"></i></a>
                    }
                </div>
            </div>
            <table class="table list-result">
                <tr>
                    <th style="width:70px;">Relation</th>
                    <th style="width:320px">Definition</th>
                    @if(!Model.IsReviewer){
                    <th style="width:30px;"></th>
                    }
                </tr>
                @foreach (var item in Model.ConstructionPosture.PostureConstraints)
                {
                    <tr>
                        <td>
                            <a href="#" data-id="@item.Id" data-toggle="modal" data-target="#posture-modal" data-ids="@item.RelationIdsString" data-type="construction" class="btn-posture-constraint">
                                @if (item.HasRelation == true)
                                {
                                    <span>R</span>
                                }
                            </a>

                        </td>
                        <td>@item.Definition </td>
                        @if(!Model.IsReviewer){
                        <td data-id="@item.Id"><a href="/BusinessPosture/DeletePostureConstraint" class="remove-item"><i class="fa fa-minus"></i></a></td>
                        }
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-4 list-block">
            <div>
                <div class="sub-group">
                    <h6 style="background-color: #ff0000">Posture Constraint</h6>
                    @if(!Model.IsReviewer){
                    <a href="#" data-toggle="popover" data-posture-type="operation" data-title="Add Desired State" data-posture="PostureConstraint" data-posture-id="@Model.OperationPosture.Id" data-form-target="posture-constraint" class="popover-trigger"><i class="fa fa-plus"></i></a>
                    }
                </div>
            </div>
            <table class="table list-result">
                <tr>
                    <th style="width:70px;">Relation</th>
                    <th style="width:320px">Definition</th>
                    @if(!Model.IsReviewer){
                    <th style="width:30px;"></th>
                    }
                </tr>
                @foreach (var item in Model.OperationPosture.PostureConstraints)
                {
                    <tr>
                        <td>
                            <a href="#" data-id="@item.Id" data-toggle="modal" data-target="#posture-modal" data-ids="@item.RelationIdsString" data-type="operation" class="btn-posture-constraint">
                                @if (item.HasRelation == true)
                                {
                                    <span>R</span>
                                }
                            </a>
                        </td>
                        <td>@item.Definition </td>
                        @if(!Model.IsReviewer){
                        <td data-id="@item.Id"><a href="/BusinessPosture/DeletePostureConstraint" class="remove-item"><i class="fa fa-minus"></i></a></td>
                        }
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-4 list-block">
            <div>
                <div class="sub-group">
                    <h6 style="background-color: #ff0000">Posture Constraint</h6>
                    @if(!Model.IsReviewer){
                    <a href="#" data-toggle="popover" data-posture-type="decommissioning" data-title="Add Desired State" data-posture="PostureConstraint" data-posture-id="@Model.DecommissioningPosture.Id" data-form-target="posture-constraint" class="popover-trigger"><i class="fa fa-plus"></i></a>
                    }
                </div>
            </div>
            <table class="table list-result">
                <tr>
                    <th style="width:70px;">Relation</th>
                    <th style="width:320px">Definition</th>
                    @if(!Model.IsReviewer){
                    <th style="width:30px;"></th>
                    }
                </tr>
                @foreach (var item in Model.DecommissioningPosture.PostureConstraints)
                {
                    <tr>
                        <td>
                            <a href="#" data-id="@item.Id" data-toggle="modal" data-target="#posture-modal" data-ids="@item.RelationIdsString" data-type="decommissioning" class="btn-posture-constraint">
                                @if (item.HasRelation == true)
                                {
                                    <span>R</span>
                                }
                            </a>
                        </td>
                        <td>@item.Definition </td>
                        @if(!Model.IsReviewer){
                        <td data-id="@item.Id"><a href="/BusinessPosture/DeletePostureConstraint" class="remove-item"><i class="fa fa-minus"></i></a></td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 artifact-designer-btns">
            @if(!Model.IsReviewer){
            <a href="@Url.Action("Index", "PlanningBlueprint")" class="btn btn-primary btn-lg"><span class="fa fa-arrow-left"></span>Back To List</a>
            }else{
                <a href="@Url.Action("ESReview", "PlanningBlueprint", new { id = Model.PlanningBlueprintId})" class="btn btn-primary btn-lg"><span class="fa fa-arrow-left"></span>Back</a>
            }
            @if(!Model.IsReviewer){
            using (Html.BeginForm("SubmitBusinessPosture", "PlanningBlueprint", FormMethod.Post, new { style = "display:inline" }))
            {
                @Html.Hidden("Id", Model.Id)
                <button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-floppy-o"></span>Submit</button>
            }
            }else{
            using (Html.BeginForm("ApproveVoyagePlan", "PlanningBlueprint", FormMethod.Post, new { style = "display:inline" }))
            {
                @Html.Hidden("Id", Model.PlanningBlueprintId)
                <button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-floppy-o"></span>Approve</button>
            }
            }
        </div>
    </div>
</div>
<div class="desired-state-form popover-to-content">
    <form action="/BusinessPosture/AddDesiredState">
        <input type="hidden" name="PostureId" />
        <div class="row">
            <div class="col-md-12">
                <label>Description</label>
                <textarea name="Description" cols="25" rows="5"></textarea>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary add-item">Add</button>
                <button type="button" class="btn btn-primary cancel-popover">Cancel</button>
            </div>
        </div>
    </form>
</div>
<div class="posture-challenge-form popover-to-content">
    <form action="/BusinessPosture/AddPostureChallenge">
        <input type="hidden" name="PostureId" />
        <input type="hidden" name="PostureType" />
        <input type="hidden" name="Type" />
        <div class="relation-ids-wrapper"></div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-info choose-relation" data-toggle="modal" data-target="#modalDialog">Choose Desired States</button>
            </div>
            <div class="col-md-12">
                <label>Definition</label>
                <textarea name="Definition" cols="25" rows="5"></textarea>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary add-item">Add</button>
                <button type="button" class="btn btn-primary cancel-popover">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="posture-constraint-form popover-to-content">
    <form action="/BusinessPosture/AddPostureConstraint">
        <input type="hidden" name="PostureId" />
        <input type="hidden" name="PostureType" />
        <input type="hidden" name="Type" />
        <div class="relation-ids-wrapper"></div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-info choose-relation" data-toggle="modal" data-target="#modalDialog">Choose Desired States</button>
            </div>
            <div class="col-md-12">
                <label>Definition</label>
                <textarea name="Definition" cols="25" rows="5"></textarea>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary add-item">Add</button>
                <button type="button" class="btn btn-primary cancel-popover">Cancel</button>
            </div>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close finish-relation" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="row modal-header-detail">
                    <div class="title">Choose Relation</div>
                </div>
            </div>
            <div class="modal-body color-white">
                <div class="relation-content"></div>
                <button type="button" class="btn btn-primary finish-relation" data-dismiss="modal" aria-label="Close">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@* Modal Posture *@
<div class="modal fade" id="posture-modal" data-id="id">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close btn-finish-relation" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Relation</h3>
            </div>

            <div class="modal-body modal-posture">
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $(document).on('click', '.cancel-popover', function (e) {
            e.preventDefault();
            $('.popover').popover('hide');
        });

        $('body').popover({
            selector: '.popover-trigger',
            html: true,
            placement: 'left',
            title: function () {
                return $(this).data('title');
            },
            content: function () {
                return $('.' + $(this).data('form-target') + '-form').html();
            }
        });
        $(document).on('click', '.add-item', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $form = $this.closest('form');
            var $listBlock = $this.closest('.list-block');
            var $listResult = $listBlock.find('.list-result');

            $form.find('input[name="PostureId"]').val($listBlock.find('.popover-trigger').data('posture-id'));
            $form.find('input[name="PostureType"]').val($listBlock.find('.popover-trigger').data('posture'));
            var type = $listBlock.find('.popover-trigger').data('posture-type');

            $.post($form.prop('action'), $form.serialize(), function (data) {
                if (data.IsSuccess) {
                    var target = $listBlock.find('.popover-trigger').data('form-target');
                    if (target == 'desired-state') {
                        //desired-state
                        $listResult.append('<li data-id="' + data.Id + '" >' + data.Description + '<a href="/BusinessPosture/DeleteDesiredState"  class="remove-item"><i class="fa fa-minus"></i></a></li>');
                    } else {
                        var $tr = $('<tr />');
                        var $relationCol = $('<td />');
                        var relationType = '';
                        if (data.PostureType == "PostureChallenge") {
                            relationType = relationType + 'data-id="' + data.Id + '"' + 'data-toggle="modal"' + 'data-target="#posture-modal"' + 'data-ids="' + data.RelationIds + '"' + 'class="btn-posture-challenge"'
                        }
                        if (data.PostureType == "PostureConstraint") {
                            relationType = relationType + 'data-id="' + data.Id + '"' + 'data-toggle="modal"' + 'data-target="#posture-modal"' + 'data-ids="' + data.RelationIds + '"' + 'class="btn-posture-constraint"'

                        }
                        $relationCol.html(data.RelationIds.length ? '<a href="#" ' + relationType +'data-type="'+ type +'"'+'><span>R</span></a>' : ' ');
                        $tr.append($relationCol);
                        var $definitionCol = $('<td />');
                        $definitionCol.html(data.Definition);
                        $tr.append($definitionCol);
                        var $removeBtn = $('<a />');
                        $removeBtn.addClass('remove-item');
                        if (target == 'posture-constraint') {
                            $removeBtn.prop('href', '/BusinessPosture/DeletePostureConstraint');
                        } else {
                            $removeBtn.prop('href', '/BusinessPosture/DeletePostureChallenge');
                        }
                        $removeBtn.html('<i class="fa fa-minus"></i>');
                        var $actionCol = $('<td />');
                        $actionCol.attr('data-id', data.Id);
                        $actionCol.append($removeBtn);
                        $tr.append($actionCol);
                        $listResult.append($tr);
                    }
                }
                popOverElem.popover('hide');
            });
        });
        $(document).on('click', '.remove-item', function (e) {
            e.preventDefault();
            if (confirm("Are you sure want to delete this item?")) {
                var $this = $(this);
                var id = $this.parent().data('id');
                $.post($this.prop('href'), 'Id=' + id, function (data) {
                    if (data.IsSuccess) {
                        var target = $this.closest('.list-block').find('.popover-trigger').data('form-target');
                        if (target == 'desired-state') {
                            $this.parent().remove();
                        } else {
                            $this.closest('tr').remove();
                        }
                    }
                });
            }
        });
        var popOverElem;
        $(document).on('click', '.popover-trigger', function (e) {
            e.preventDefault();
            var $this = $(this);
            //relation-progress
            var blockType = $this.data('form-target');
            if (blockType != 'desired-state') {
                var postureType = $this.data('posture-type');
                var desiredList = $('.list-result.' + postureType + '-desired-list').clone(true);
                desiredList.removeClass('list-result');
                desiredList.find('li').each(function (i, val) {
                    var $item = $(val);
                    $item.find('.remove-item').remove();
                    var $checkbox = $('<input />');
                    $checkbox.prop('type', 'checkbox');
                    $checkbox.addClass('choose-this');
                    $item.prepend($checkbox);
                });
                $('.relation-content').html(desiredList);
            }
            popOverElem = $this;
        });

        var modalLoadingHtml = $('.modal-loading').html();
        $('#modalDialog').on('hidden.bs.modal', function (e) {
            $(this).removeData('bs.modal');
            $('#modalDialog').find('.modal-content').html(modalLoadingHtml);
        });

        $(document).on('click', '.finish-relation', function (e) {
            //find relation ids wrapper and cleare it
            var $wrapper = $('.relation-ids-wrapper');
            $wrapper.html('');
            $('input.choose-this:checked').each(function (i, val) {
                var $hiddenId = $('<input />');
                $hiddenId.prop('type', 'hidden');
                $hiddenId.prop('name', 'RelationIds[]');
                $hiddenId.val($(val).parent().data('id'));
                $wrapper.append($hiddenId);
            });
        });


        $(document).on('click', '.btn-posture-challenge', function () {
            var $that = $(this);
            var Id = ($that).data('id');
            $.ajax({
                url: '@Url.Action("GetPostureChallenge", "BusinessPosture")',
                data: { id: Id },
                type: 'POST',
                dataType: "html",
                success: function (data) {
                    $('.modal-posture').html(data);
                }
            });
        });

        $(document).on('click', '.btn-posture-constraint', function () {
            var $that = $(this);
            var Id = ($that).data('id');
            $.ajax({
                url: '@Url.Action("GetPostureConstraint", "BusinessPosture")',
                data: { id: Id },
                type: 'POST',
                dataType: "html",
                success: function (data) {
                    $('.modal-posture').html(data);
                }
            });
        });
    });

    $(document).on('mouseenter', '.btn-posture-challenge', function () {
        var $that = $(this);
        var $type = ($that).data('type');
        var $ids = ($that).data('ids');
        if (typeof $ids != 'string') {
            $ids = [$ids];
        } else {
            $ids = $ids.split(',');
            var iIds = [];
            for (var i in $ids) {
                iIds.push(parseInt($ids[i]));
            }
            $ids = iIds;
        }
        $('.' + $type + '-desired-list').children('li').each(function (i, val) {
            var $li = $(val);
            if($ids.indexOf(parseInt($li.data('id'))) > -1)
            {
                $li.addClass('highlight');
            }
        });
    });

    $(document).on('mouseleave', '.btn-posture-challenge', function () {
        $('.highlight').each(function (i, val) {
            $(val).removeClass('highlight');
        })
    });



    $(document).on('mouseenter', '.btn-posture-constraint', function () {
        var $that = $(this);
        var $type = ($that).data('type');
        var $ids = ($that).data('ids');
        if (typeof $ids != 'string') {
            $ids = [$ids];
        } else {
            $ids = $ids.split(',');
            var iIds = [];
            for (var i in $ids) {
                iIds.push(parseInt($ids[i]));
            }
            $ids = iIds;
        }
        $('.' + $type + '-desired-list').children('li').each(function (i, val) {
            var $li = $(val);
            if ($ids.indexOf(parseInt($li.data('id'))) > -1) {
                $li.addClass('highlight');
            }
        });
    });

    $(document).on('mouseleave', '.btn-posture-constraint', function () {
        $('.highlight').each(function (i, val) {
            $(val).removeClass('highlight');
        })
    });
</script>
