@model DSLNG.PEAR.Web.ViewModels.OperationData.OperationDataConfigurationViewModel

<div style="overflow: auto">
    <table class="table table-hover table-transparent table-bordered" style="width: 100%">
        <tbody>
            <tr>
                <th style="width: 10%;">KPI Name</th>
                <th style="width: 4%;">2011</th>
                <th style="width: 5%;">2012</th>
                <th style="width: 4%;">2013</th>
                <th style="width: 5%;">2014</th>
                <th style="width: 4%;">2015</th>
                <th style="width: 5%;">2016</th>
                <th style="width: 4%;">2017</th>
                <th style="width: 5%;">2018</th>
                <th style="width: 4%;">2019</th>
                <th style="width: 4%;">2020</th>
                <th style="width: 4%;">2021</th>
                <th style="width: 4%;">2022</th>
                <th style="width: 4%;">2023</th>
                <th style="width: 4%;">2024</th>
                <th style="width: 4%;">2025</th>
                <th style="width: 4%;">2026</th>
                <th style="width: 4%;">2027</th>
                <th style="width: 4%;">2028</th>
                <th style="width: 4%;">2029</th>
                <th style="width: 4%;">2030</th>
            </tr>
            @{ var a = 0;}
            @foreach (var kpi in Model.Kpis)
            {
                <tr>
                    <td style="text-align: left">@kpi.Name (@kpi.MeasurementName)</td>
                    @{ var b = 0;}
                    @foreach (var operationData in kpi.OperationDatas)
                    {
                        var remarkSign = "";
                        if (!string.IsNullOrEmpty(operationData.Remark))
                        {
                            remarkSign = "remark_sign";
                        }
                        var idValue = "Kpis_" + a + "__OperationDatas_" + b + "__Value";
                        <th>
                            <input type="text" data-toggle="popover" class="form-control-small value kpi-popover @remarkSign" id="@idValue" value="@operationData.Value" readonly="readonly">
                            <input type="hidden" name="KpiId" class="kpiId" value="@kpi.Id" />
                            <input type="hidden" name="HeaderPopover" class="header-popover" value="" />
                            <input type="hidden" name="Id" class="form-control-small id" value="@operationData.Id">
                            <input type="hidden" name="ScenarioId" class="form-control-small scenario-id" value="@Model.ScenarioId">
                            <input type="hidden" name="KeyOperationConfigId" class="form-control-small key-operation-config-id" value="@operationData.KeyOperationConfigId">
                            <input type="hidden" name="PeriodeType" class="periodeType" value="@DSLNG.PEAR.Data.Enums.PeriodeType.Yearly" />
                            <input type="hidden" name="Remark" class="form-control-small remark" value="@operationData.Remark">
                            <input type="hidden" name="Periode" class="form-control-small periode" value="@operationData.Periode">
                        </th>
                        b++;
                    }
                </tr>
                a++;
            }
        </tbody>
    </table>
</div>
