@model DSLNG.PEAR.Web.ViewModels.Calculator.PricingCalculatorViewModel
@{
    ViewBag.Title = "_Pricing";
}
<div class="row calculator">
    <div class="col-md-6">
        <h3>Pricing</h3>
    </div>
    <div class="col-md-6">
        <h3>Constanta</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">JCC Price</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(model => model.JccPrice)
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.Unit, Model.Units)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Result</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="lng-spa-fob" placeholder="">
                </div>
                <div class="col-sm-4">
                    <label class="control-label">LNG SPA FOB</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-md-offset-2">
                    <input type="text" class="form-control" id="lng-spa-des" placeholder="">
                </div>
                <div class="col-sm-4">
                    <label class="control-label">LNG SPA DES</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-md-offset-2">
                    <input type="text" class="form-control" id="senoro-feed-gas" placeholder="">
                </div>
                <div class="col-sm-4">
                    <label class="control-label">Senoro Feed Gas</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-md-offset-2">
                    <input type="text" class="form-control" id="matindok-feed-gas" placeholder="">
                </div>
                <div class="col-sm-4">
                    <label class="control-label">Matindok Feed Gas</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-md-offset-2">
                    <input type="text" class="form-control" id="average-feed-gas" placeholder="">
                </div>
                <div class="col-sm-4">
                    <label class="control-label">Average Feed Gas</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-md-offset-2">
                    <input type="text" class="form-control" id="cds-price" placeholder="">
                </div>
                <div class="col-sm-4">
                    <label class="control-label">CDS Price</label>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <fieldset>
            <legend>Feed Gas</legend>
            <form class="form-horizontal production-yield-all constants">
                @foreach (var constant in Model.FeedGasConstants)
                { 
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@constant.DisplayName</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => constant.Value, new { @class = constant.Name })
                        </div>
                        <div class="col-sm-3">@constant.Measurement</div>
                    </div>
                }
            </form>
        </fieldset>
        <fieldset>
            <legend>Composition</legend>
            <form class="form-horizontal production-yield-all constants">
                @foreach (var constant in Model.CompositionConstants)
                { 
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@constant.DisplayName</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => constant.Value, new { @class = constant.Name })
                        </div>
                        <div class="col-sm-3">@constant.Measurement</div>
                    </div>
                }
            </form>
        </fieldset>
        <fieldset>
            <legend>Cds Price Constant</legend>
            <form class="form-horizontal production-yield-all constants">
                @foreach (var constant in Model.CdsPriceConstants)
                { 
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@constant.DisplayName</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => constant.Value, new { @class = constant.Name })
                        </div>
                        <div class="col-sm-3">@constant.Measurement</div>
                    </div>
                }
            </form>
        </fieldset>
        <fieldset>
            <legend>Other Constantas</legend>
            <form class="form-horizontal production-yield-all constants">
                @foreach (var constant in Model.OtherConstants)
                { 
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@constant.DisplayName</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => constant.Value, new { @class = constant.Name })
                        </div>
                        <div class="col-sm-3">@constant.Measurement</div>
                    </div>
                }
            </form>
        </fieldset>
    </div>
</div>
