@using DSLNG.PEAR.Common.Contants
@using DSLNG.PEAR.Web.Helpers
@model DSLNG.PEAR.Web.ViewModels.PmsSummary.PmsSummaryIndexViewModel

<div class="panel panel-default">
    <table class="table table-transparent table-pms-summary table-bordered" cellspacing="0">
        <thead>
            <tr>
                <td rowspan="2">&nbsp;</td>
                <td rowspan="2">Performance Indicator</td>
                <td style="border-bottom: 1px solid #cccccc">Actual / Target</td>
                <td rowspan="2">Score / Weight</td>
            </tr>
            <tr>
                <td>Yearly</td>
            </tr>
        </thead>
        <tbody>
            @{
                List<string> existedPillars = new List<string>();
                int pillarLength = 0;
                int counterKpi = 0;
                decimal pillarScore = 0;
                int count = 1;
                double totalPillarWeight = 0;
                decimal totalPillarScore = 0;
                
                foreach (var item in Model.PmsSummaries)
                {
                    var scoreIndicatorPmsConfigUrl = Url.Action("ScoreIndicator", "PmsConfig", new { id = item.PmsConfigId });
                    var scoreIndicatorPmsConfigDetailsUrl = Url.Action("ScoreIndicator", "PmsConfigDetails", new { id = item.PmsConfigDetailId });
                    var scoreIndicatorPmsSummaryUrl = Url.Action("ScoreIndicator", "PmsSummary", new { id = item.PmsSummaryId });
                    if (!existedPillars.Exists(x => x == item.Pillar))
                    {
                        totalPillarWeight += item.PillarWeight;
                        counterKpi = 1;
                        pillarScore = 0;
                        pillarLength = Model.PmsSummaries.Count(x => x.Pillar == item.Pillar);
                        existedPillars.Add(item.Pillar);
                        if (!string.IsNullOrEmpty(item.PillarIcon))
                        {
                <tr class="tr-pillar" style="background-color: @item.PmsConfigColor">
                    <td>&nbsp;</td>
                    <td colspan="3" class="text-left">
                        <div class="roundlight popover-pillar" data-toggle="popover" style="background-color: @item.PillarColor" data-poload="@scoreIndicatorPmsConfigUrl"></div>@item.Pillar (@item.PillarWeight)
                                    <img src="@Url.Content(PathConstant.PillarPath)/@item.PillarIcon" />
                    </td>
                </tr>
                        
                        }
                        else
                        {
                <tr class="tr-pillar" style="background-color: @item.PmsConfigColor">
                    <td>&nbsp;</td>
                    <td colspan="3" class="text-left">
                        <div class="roundlight popover-pillar" data-toggle="popover" style="background-color: @item.PillarColor" data-poload="@scoreIndicatorPmsConfigUrl"></div>@item.Pillar (@item.PillarWeight)
                    </td>
                </tr>
                        }

                    }
                    pillarScore += Convert.ToDecimal(item.Score);
                <tr class="kpi-row" onclick="OnCellClick('5', @item.PmsConfigDetailId);">
                    <td>&nbsp;</td>
                    @if (!string.IsNullOrEmpty(item.KpiIcon))
                    {
                        <td class="text-left">
                            <div class="roundlight popover-pillar" data-toggle="popover" style="background-color: @item.KpiColor" data-poload="@scoreIndicatorPmsConfigDetailsUrl"></div>@item.KpiName
                            <img src="@Url.Content(PathConstant.KpiPath)/@item.KpiIcon" />
                        </td>
                    }
                    else
                    {
                        
                        <td class="text-left">
                            <div class="roundlight popover-pillar" data-toggle="popover" style="background-color: @item.KpiColor" data-poload="@scoreIndicatorPmsConfigDetailsUrl"></div>@item.KpiName
                        </td>
                    }

                    <td class="text-right">@NumberHelper.DoubleToDecimalFormat(item.ActualYearly) / @NumberHelper.DoubleToDecimalFormat(item.TargetYearly)</td>
                    <td class="text-right">@NumberHelper.DoubleToDecimalFormat(item.Score) / @item.Weight</td>
                </tr>
            
                    if (counterKpi < pillarLength)
                    {
                        counterKpi++;
                    }
                    else if (counterKpi == pillarLength)
                    {
                        decimal pScore = pillarScore / 100 * Convert.ToDecimal(item.PillarWeight);
                        totalPillarScore += pScore;
                <tr class="pillar-score" style="font-weight: bold">
                    <td>&nbsp;</td>
                    <td colspan="2" class="text-left">
                        <span class="pillar-score-text">Score KPI In This Pillar (@pillarScore.ToString(FormatNumber.DecimalFormat))</span>
                    </td>

                    <td class="text-right">@( (pScore).ToString(FormatNumber.DecimalFormat)) / @item.PillarWeight</td>
                </tr>
                    }
                    if (count == Model.PmsSummaries.Count())
                    {
                <tr style="font-weight: bold">
                    <td>&nbsp;</td>
                    <td colspan="2" class="text-left">
                        <div class="roundlight" style="background-color:@item.TotalScoreColor" data-poload="@scoreIndicatorPmsSummaryUrl"></div>
                        Total Score
                    </td>
                    <td class="text-right">@totalPillarScore.ToString(FormatNumber.DecimalFormat) / @totalPillarWeight</td>
                </tr>
                    }
                    count++;

                }
            }
        </tbody>
    </table>
</div>
