@using DSLNG.PEAR.Common.Contants
@using DSLNG.PEAR.Web.Helpers
@model DSLNG.PEAR.Web.ViewModels.PmsSummary.PmsSummaryIndexViewModel

<!-- FOR TEMPORARY -->
<style>
    .table-transparent
    {
        width: 100%;
        border: #ccc 1px solid;
    }

        .table-transparent > thead
        {
            background: none;
            text-align: center;
        }

    .panel.panel-default
    {
        border-radius: 20px;
        background: none;
    }

    .tr-pillar
    {
        text-align: left;
    }

    .roundlight
    {
        width: 12px;
        height: 12px;
        -webkit-border-radius: 12px;
        border-radius: 12px;
        display: inline-block;
        margin-right: 5px;
    }

    .table-transparent .text-left
    {
        text-align: left;
        vertical-align: middle;
    }

    .table-transparent .text-center
    {
        text-align: center;
        vertical-align: middle;
    }

    .table-transparent .text-right
    {
        text-align: right;
        vertical-align: middle;
    }

    .table-transparent
    {
        color: #000;
    }

        .table-transparent thead tr
        {
            font-size: 15px;
            font-weight: bold;
        }


        .table-transparent tbody tr td
        {
            border: 0px;
        }

        .table-transparent tbody tr.kpi-row:hover
        {
            background-color: red;
            cursor: pointer;
        }

        .table-transparent .pillar-score td:nth-child(2)
        {
            padding: 15px 0;
        }

        .table-transparent.table-bordered > thead > tr > td
        {
            border-top: 0;
            border-bottom: 0;
            border-left: 1px solid blue;
        }
</style>



<div class="panel panel-default">
    <table class="table-transparent table table-bordered" cellspacing="0">
        <thead>
            <tr>
                <td rowspan="2">&nbsp;</td>
                <td rowspan="2">Performance Indicator</td>
                <td style="border-bottom: 1px solid #cccccc">Actual / Target</td>
                <td rowspan="2">Score / Weight</td>
            </tr>
            <tr>
                <td>Yearly</td>
            </tr>
        </thead>
        <tbody>
            @{
                List<string> existedPillars = new List<string>();
                int pillarLength = 0;
                int counterKpi = 0;
                decimal pillarScore = 0;
                int count = 1;
                double totalPillarWeight = 0;
                decimal totalPillarScore = 0;
                foreach (var item in Model.PmsSummaries)
                {
                    if (!existedPillars.Exists(x => x == item.Pillar))
                    {
                        totalPillarWeight += item.PillarWeight;
                        counterKpi = 1;
                        pillarScore = 0;
                        pillarLength = Model.PmsSummaries.Count(x => x.Pillar == item.Pillar);
                        existedPillars.Add(item.Pillar);
                        if (!string.IsNullOrEmpty(item.PillarIcon))
                        {
                <tr class="tr-pillar" style="background-color: @item.PmsConfigColor">
                    <td>&nbsp;</td>
                    <td colspan="3" class="text-left">
                        <div class="roundlight popover-pillar" style="background-color: @item.PillarColor"></div>@item.Pillar (@item.PillarWeight)
                                    <img src="@Url.Content(PathConstant.PillarPath)/@item.PillarIcon" />
                    </td>
                </tr>
                        
                        }
                        else
                        {
                <tr class="tr-pillar" style="background-color: @item.PmsConfigColor">
                    <td>&nbsp;</td>
                    <td colspan="3" class="text-left">
                        <div class="roundlight popover-pillar" style="background-color: @item.PillarColor"></div>@item.Pillar (@item.PillarWeight)
                    </td>
                </tr>
                        }

                    }
                    pillarScore += Convert.ToDecimal(item.Score);
                <tr class="kpi-row" onclick="OnCellClick('5', @item.Id);">
                    <td>&nbsp;</td>
                    @if (!string.IsNullOrEmpty(item.KpiIcon))
                    {
                        <td class="text-left">
                            <div class="roundlight popover-pillar" style="background-color: @item.KpiColor"></div>@item.KpiName
                            <img src="@Url.Content(PathConstant.KpiPath)/@item.KpiIcon" />
                        </td>
                    }
                    else
                    {
                        
                        <td class="text-left">
                            <div class="roundlight popover-pillar" style="background-color: @item.KpiColor"></div>@item.KpiName
                        </td>
                    }

                    <td class="text-right">@NumberHelper.DoubleToDecimalFormat(item.ActualYearly) / @NumberHelper.DoubleToDecimalFormat(item.TargetYearly)</td>
                    <td class="text-right">@NumberHelper.DoubleToDecimalFormat(item.Score) / @item.Weight</td>
                </tr>
            
                    if (counterKpi < pillarLength)
                    {
                        counterKpi++;
                    }
                    else if (counterKpi == pillarLength)
                    {
                        decimal pScore = pillarScore / 100 * Convert.ToDecimal(item.PillarWeight);
                        totalPillarScore += pScore;
                <tr class="pillar-score">
                    <td>&nbsp;</td>
                    <td colspan="2" class="text-left">Score KPI In This Pillar (@pillarScore.ToString(FormatNumber.DecimalFormat))</td>

                    <td class="text-right">@( (pScore).ToString(FormatNumber.DecimalFormat)) / @item.PillarWeight</td>
                </tr>
                    }
                    if (count == Model.PmsSummaries.Count())
                    {
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2" class="text-left">
                        <div class="roundlight" style="background-color:@item.TotalScoreColor"></div>
                        Total Score
                    </td>
                    <td class="text-right">@totalPillarScore.ToString(FormatNumber.DecimalFormat) / @totalPillarWeight</td>
                </tr>
                    }
                    count++;

                }
            }
        </tbody>
    </table>
</div>
