@model DSLNG.PEAR.Web.ViewModels.AuditTrail.AuditTrailsDetailsViewModel
<h3>Audit History</h3>
@foreach (var item in Model.AuditTrails)
{
    <span style="float: left;margin-bottom: 19px;">Event Date : @item.UpdateDate</span>
    <span style="float: right;">Action Type : @item.Action</span>
    
    <table class="table">
        <thead>
            <tr>
                <th>Field Name</th>
                <th>Before Change</th>
                <th>After Change</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var old in item.OldValue)
            {
                if (old.Value != item.NewValue.FirstOrDefault(x => x.FieldName == old.FieldName).Value)
                {
                    <tr>
                        <td>@old.FieldName</td>
                        <td>@old.Value</td>
                        <td>@item.NewValue.FirstOrDefault(x => x.FieldName == old.FieldName).Value</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    
}